@mixin container {
	padding: 0 15px;
	max-width: $container-width;
	margin: 0 auto;
	@include small {
		max-width: $container-width-small;
	}
	@include medium {
		max-width: $container-width-medium;
	}
	@include large {
		max-width: $container-width-large;
	}
}