@function remCalc($size) {
	$rem-size: $size / 16;
	@return #{$rem-size}rem;
}

@function ratio($width, $height) {
	$result: $height / $width;
	@return percentage($result);
}

@mixin xxsmall-down {
	@media (max-width: $screen-xxs-max) {
		@content;
	}
}

@mixin xsmall-down {
	@media (max-width: $screen-xs-max) {
		@content;
	}
}

@mixin xsmall {
	@media (min-width: $screen-xs-min) {
		@content;
	}
}

@mixin small {
	@media (min-width: $screen-sm-min) {
		@content;
	}
}

@mixin medium {
	@media (min-width: $screen-md-min) {
		@content;
	}
}

@mixin medium-down {
	@media (max-width: $screen-sm-max) {
		@content;
	}
}

@mixin large {
	@media (min-width: $screen-lg-min) {
		@content;
	}
}

@mixin font($size: $primary-font-size, $weight: 400, $transform: none, $family: $primary-font-family) {

	@if ($size == $tertiary-font-size) {
		font-family: $family;
		font-size: $tertiary-smaller-font-size;
		font-weight: $weight;
		text-transform: $transform;
		-webkit-font-smoothing: antialiased;
		@include medium {
			font-size: $tertiary-font-size;
		}
	} @else if ($size == $quaternary-font-size) {
		font-family: $family;
		font-size: $quaternary-smaller-font-size;
		font-weight: $weight;
		text-transform: $transform;
		-webkit-font-smoothing: antialiased;
		@include medium {
			font-size: $quaternary-font-size;
		}
	} @else if ($size == $decimal-font-size) {
		font-family: $family;
		font-size: $decimal-smaller-font-size;
		font-weight: $weight;
		text-transform: $transform;
		-webkit-font-smoothing: antialiased;
		@include medium {
			font-size: $decimal-font-size;
		}
	} @else {
		font-family: $family;
		font-size: $size;
		font-weight: $weight;
		text-transform: $transform;
		-webkit-font-smoothing: antialiased;
	}
}

@mixin grid-item($size: 33.3333%, $cols-max: 3, $cols: 2, $no-spacing: false) {
	display: flex;
	flex-flow: row wrap;
	@if ($no-spacing) {
		flex-basis: calc(#{$size});
	} @else {
		flex-basis: calc(#{$size} - (#{$gutter} / #{$cols-max} * #{$cols}));
	}
	flex-grow: 0;
	flex-shrink: 0;
	align-content: flex-start;
}

@mixin headline($size: $tertiary-font-size, $color: $primary-color, $bordered: false, $border-color: $primary-color) {
	@include font($size, 700, uppercase);
	color: $color;

	@if ($bordered) {
		&:after {
			content: " ";
			display: block;
			height: 6px;
			width: 30px;
			margin: 0 auto;
			margin-bottom: $quaternary-spacer;
			background: $border-color;
			margin-top: $primary-spacer;
		}
	}
}

@mixin placeholder($color, $size:"") {
	&::-webkit-input-placeholder {
		color: $color;
		@if $size != "" {
			font-size: $size;
		}
	}
	&:-moz-placeholder {
		color: $color;
		@if $size != "" {
			font-size: $size;
		}
	}
	&::-moz-placeholder {
		color: $color;
		@if $size != "" {
			font-size: $size;
		}
	}
	&:-ms-input-placeholder {
		color: $color;
		@if $size != "" {
			font-size: $size;
		}
	}
}

@mixin arrow($direction: 'right', $offset: 0px) {
	position: relative;
	background: $white;

	&:before {
		display: none;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-style: solid;
		border-color: rgba($white, 0);
		border-width: 25px;
		margin-top: -25px;
		top: $offset;
		@if $direction == 'right' {
			left: 100%;
			transform: translateY(50%);
			border-left-color: $white;
		}
		@if $direction == 'left' {
			left: 0;
			transform: translateX(-100%) translateY(50%);
			border-right-color: $white;
		}

		@include small {
			display: block;
		}
	}
}

@mixin generateRatios($width, $height) {
	padding-bottom: ratio($width, $height);
}