.animation {
	transition: $transition-short transform !important;
}

.animation--scale {
	transform: scale(1) !important;
}

.swipe-enter-active, .swipe-leave-active {
	transition: transform .8s, opacity .4s;
}

.swipe-enter, .swipe-leave-active {
	opacity: 0;
	transform: translateX(-100vw);
}

.slide-enter-active, .slide-leave-active {
	transition: transform .6s ease, opacity .3s;
}

.slide-enter, .slide-leave-active {
	opacity: 0;
	transform: translateY(-50%);
}