.admin__section {
	padding: $quaternary-spacer 0;
}

.admin__overview {
	padding: $quaternary-spacer 0;
	display: flex;
	flex-flow: row wrap;

	.dataTables_filter {

		input {
			@include font();
			border: 1px solid $undecimal-color;
			margin-left: $octonary-spacer;
			padding: $tertiary-spacer;
		}
	}

	.dataTables_filter {
		display: flex;
		justify-content: center;
		margin-bottom: $primary-spacer;
	}
}

// external (DataTables)
.admin__table {
	width: 100%;
	
	td:nth-child(2) {
		width: 30%;
	}

	tr, td, th {
		vertical-align: middle;
		text-align: center;
	}

	thead {
		tr {
			@include font($primary-font-size, 500);
			background-color: $secondary-color;
			color: $white;

			th {
				padding: $tertiary-spacer;
				text-align: center;
			}
		}
	}

	.even {
		background-color: $white;
	}

	.odd {
		background-color: $senary-color;
	}

	tbody {
		tr {
			&:hover {
				background-color: $primary-color;
				color: $white;
			}

			td {
				padding: $octonary-spacer / 2;
			}
		}
	}
}

.dataTables_wrapper {
	position: relative;
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: $spacer-half;
	background: $white;
	border: 1px solid $primary-color;
	z-index: 1;

	&:after {
		content: " ";
		height: 25px;
		width: 25px;
		background: url('/static_images/pacman.gif') no-repeat;
		display: block;
		margin: $spacer-sm auto 0 auto;
		background-size: 25px;
	}

}

.admin__overview {
	.paging_simple_numbers {
		display: flex;
		align-items: center;
		margin-top: $primary-spacer;
		.next, .previous {
			@extend .button;
			@extend .button--light;
			@extend .button--light-white;

			margin: 0 !important;
		}

		span {
			flex-grow: 1;
			justify-content: center;
		}

		.paginate_button, .ellipsis {
			&.current, &.disabled {
				background-color: $secondary-color;
				cursor: default;
				&:hover {
					color: $white;
				}
			}

			background-color: $primary-color;
			color: $white;
			padding: $octonary-spacer;
			margin: 0 $tertiary-spacer / 2;
			cursor: pointer;
		}
	}

	.dataTables_info {
		margin-top: $primary-spacer;
	}

}

.admin__table-option {
	a {
		color: $secondary-color;
		text-decoration: none;
	}
}

// admin menu

.admin__menu {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.admin__menu--aligned {
	justify-content: flex-start;
}

.admin__menu-item {
	border-left: 1px solid $light-gray;
	border-bottom: 1px solid $light-gray;
	background: $senary-color;
	transition: background .3s;

	&:last-child {
		border-right: 1px solid $light-gray;
	}

	&.active,
	&:hover {
		background: $secondary-color;
		transition: background .3s;
	}
	
	&.active {
		.admin__menu-link {
			color: $white;
		}
	}
}

.admin__menu-link {
	display: block;
	padding: $spacer;
	color: $secondary-color;
	text-decoration: none;
	transition: color .3s;

	&:active,
	&:hover,
	&:visited,
	&:focus {
		text-decoration: none;
	}
	
	&:hover {
		color: $white;
		transition: color .3s;
	}
}

.admin__menu-link--small {
	padding: $spacer-sm;
}

// admin link icon
.admin__link--icon {
	text-decoration: none;
	color: $secondary-color;
	padding: 5px 10px;
	margin-top: -5px;

	&:hover {
		background: $senary-color;
	}

	&:hover,
	&:active,
	&:visited,
	&:focus {
		color: $secondary-color;
	}

	&:first-child {
		margin-left: 10px;
	}

	&.admin__link--inactive {
		color: $quinary-color;

		&:hover {
			color: $secondary-color;
		}
	}
}

.admin__image--preview {
	width: 50%;
	display: block;
	margin: 0 auto;
}

.admin__list-item {
	background: $white;
	margin: $spacer-half 0 0;
	padding: $spacer-sm-double $spacer-half;
	@include font();
	text-align: center;
	color: $secondary-color;
}