.btn {
	pointer: cursor;
	display: block;
	border-radius: 0;
	transition: $transition-short color, $transition-short background;
	margin: 0;
	text-decoration: none;
	-webkit-appearance: none;
	white-space: normal;

	> i {
		pointer-events: none;
	}
}

.btn[disabled="disabled"] {
	opacity: 0.25;
}

.btn--turquoise {
	color: $secondary-color;
	background: $primary-color;

	&:hover {
		color: $primary-color;
		background: $octonary-color;
	}
}

.btn--default {
	color: $white;
	background: $primary-color;

	&:hover {
		color: $white;
		background: $octonary-color;
	}
}

.btn--green {
	color: $secondary-color;
	background: $undenary-color;

	&:hover {
		color: $secondary-color;
		background: $nonary-color;
	}
}

.btn--dark-blue {
	color: $primary-color;
	background: $secondary-color;

	&:hover {
		color: $secondary-color;
		background: $primary-color;
	}
}

.btn--red {
	color: $white;
	background: $medium-red;

	&:hover {
		color: $white;
		background: $danger-color;
	}
}

.btn--grey {
	color: $secondary-color;
	background: $undecimal-color;

	&:hover {
		background: darken($undecimal-color, 10);
	}
}

.btn--white {
	background: $white;
	color: $octonary-color;

	&:hover {
		background: $primary-color;
		color: $octonary-color;
	}
}

.btn--full-width {
	width: 100%;
}

.btn--upper {
	text-transform: uppercase;
}

.btn--inline {
	display: inline-block;
	vertical-align: top;
}

.btn--icon {
	position: relative;
	width: 30px;
	height: 30px;
	background: $medium-red;
	color: $white;

	outline: none;

	> i {
		pointer-events: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}

.btn--icon-big {
	width: 50px;
	height: 50px;
	font-size: 20px;
}

.btn--icon-switch {
	background: $undecimal-color;
	color: $medium-gray;

	&:hover {
		background: $primary-color;
		color: $white;
	}
}

.btn--icon-switch-active {
	background: $primary-color;
	color: $white;

	&:hover {
		color: $white;
	}
}

.btn--large {
	font-size: $fs-basic;
	padding: $spacer-sm-double $spacer-half;
}

.btn--member,
.btn--fan {
	position: relative;
	background: $secondary-color;
	color: $warning-color;
	text-decoration: none;
	transition: $transition-short color, $transition-short background;
	padding: $spacer-sm $spacer-half;
	font-family: $primary-font-family;
	font-size: $fs-basic;

	&:hover {
		background: $warning-color;
		color: $secondary-color;
		outline: none;
	}

	&:after {
		content: '';
		background: no-repeat;
		position: absolute;
		transform: translateY(-100%);
	}

	&:focus {
		color: $warning-color;
	}

	@include small {
		padding: $spacer-sm $spacer-sm-double;
	}
}

.btn--member {
	&:after {
		width: 130px;
		height: 90px;
		top: 24px;
		left: -23px;
		background-image: url('/static_images/mitglied-werden.png');
		transition: $transition-short background-image;
	}

	&:hover {
		&:after {
			background-image: url('/static_images/mitglied-werden-active.png');
		}
	}
}

.btn--fan {
	margin-left: $spacer-sm-half;

	&:after {
		width: 170px;
		height: 118px;
		top: 0;
		right: -40px;
		background-image: url('/static_images/fan.png');
		transition: $transition-short background-image;
	}

	&:hover {
		&:after {
			background-image: url('/static_images/fan-active.png');
		}
	}

	&:focus {
		&:after {
			background-image: url('/static_images/fan.png');
		}
	}
}

.btn--active {
	&.btn--member,
	&.btn--fan {
		background: $warning-color;
		color: $secondary-color;

		&:hover {
			background: $secondary-color;
			color: $warning-color;
		}
		&:focus {
			background: $warning-color;
			color: $secondary-color;
		}
	}
	&.btn--member {
		&:focus {
			&:after {
				background-image: url('/static_images/mitglied-werden-active.png');
			}
		}
		&:after {
			background-image: url('/static_images/mitglied-werden-active.png');
		}
		&:hover {
			&:after {
				background-image: url('/static_images/mitglied-werden.png');
			}
		}
	}
	&.btn--fan {
		&:after {
			background-image: url('/static_images/fan-active.png');
		}
		&:hover {
			&:after {
				background-image: url('/static_images/fan.png');
			}
		}
		&:focus {
			&:after {
				background-image: url('/static_images/fan-active.png');
			}
		}
	}
}

.btn--top-right {
	position: absolute;
	right: 0;
	top: 0;
	transform: translateY(-100%);
}

.btn--vote {
	max-width: 130px;
}

.btn--fixed-width {
	width: 100%;
	margin-bottom: 10px;
	@include medium {
		width: 180px;
		margin-bottom: 0;
	}
}

.btn--spaced {
	margin-top: $spacer-half;
}