.button {
	@include font($octonary-font-size, 400, uppercase);
	display: flex;
	border: 0;
	text-decoration: none;
	transition: .3s background-color, .2s color;
	align-items: center;
	min-height: $quaternary-spacer;
	cursor: pointer;

	border-radius: 0;
	-webkit-appearance: none;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		transition: .3s background-color, .2s color;
	}
}

.button--condensed {
	min-height: $septenary-spacer;
}

.button--full-width {
	flex-basis: 100%;
	width: 100%;
}

.button--center {
	display: block;
	text-align: center;
	padding: 18px 0;
}

.button--light {
	background: $septenary-color;
	color: $white;

	&:hover {
		background: $primary-color;
		color: $white;
	}
}

.button--light-white {
	background: $septenary-color;
	color: white;

	&:hover {
		background: $primary-color;
		color: $white;
	}
}

.button--dark {
	background: $secondary-color;
	color: $primary-color;

	&:hover {
		background: $octonary-color;
		color: $primary-color;
	}
}

//.button--edit {
//	background: $danger-color;
//	color: $senary-color;
//	font-size: $primary-font-size;
//	margin-right: 0;
//
//	&:hover {
//		background: $secondary-danger-color;
//		color: $senary-color;
//	}
//
//	.fa-pencil {
//		margin-right: 0;
//	}
//}

.button--edit {

}

.button--light-success {
	display: inline-flex;
	
	color: $secondary-color;
	background: $nonary-color;

	&:hover {
		background: $undenary-color;
	}
}


.button--save {
	background: $medium-red;
	color: $white;
}

.button--success {
	background: $undenary-color;
	color: $secondary-color;
	margin-right: 0;

	&:hover {
		background: $nonary-color;
	}
}

.button--yellow {
	background: $warning-color;
	color: $secondary-color;
	margin-right: 0;

	&:hover {
		background: $quaternary-color;
	}
}

.button--white {
	background: $white;
	color: $octonary-color;

	&:hover {
		background: $primary-color;
		color: $octonary-color;
	}
}

.button--white-light {
	color: $primary-color;

	&:hover {
		color: $white;
	}
}

.button--icon {
	span, i {
		margin-right: $tertiary-spacer / 2;
	}
}

.button--red {
	background-color: $medium-red;
	color: $white;

	&:hover {
		background-color: $success-color;
		color: $secondary-color;
	}
}

.button--grey {
	background-color: $undecimal-color;
	color: $secondary-color;

	&:hover {
		background-color: darken($undecimal-color, 10);
	}
}

.button__center-wrapper {
	display: flex;
	justify-content: center;
	margin-top: $senary-spacer;
}

.button--padded {
	padding: 0 $quaternary-spacer;
}

.button--dark-inverted {
	background: $octonary-color;
	color: $primary-color;

	&:hover {
		background: $secondary-color;
		color: $primary-color;
	}
}

.button--spaced {
	margin: $spacer 0;
}