.btn-add-campaign {
  margin: 0 10px 10px;
}
figure.image-preview {
  text-align: center;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}
.list-adv {
  margin: 30px 0;

}
.error-image-preview {
  font-size: 17px;
  font-weight: normal;
  color: red;
}
.campaign-image {
  text-align: center;
  img {
    max-width: 100%;
  }
}