.club-search__results-map {
	height: 300px;
}

.club-search__form {
	background: $white;
	display: flex;
	flex-flow: row wrap;
	padding: 5px;

	@include medium {
		margin: -30px 0 30px 0;
		height: 60px;
	}
}

.club-search__form-input {
	appearance: none;
	border-radius: 0;
	height: 50px;
	vertical-align: middle!important;
	margin-bottom: 5px;
}

.club-search__form-input--city,
.club-search__form-input--sport {
	flex: 1 1 100%;

	@include medium {
		flex: 1 1 22%;
	}
}

.club-search__form-input--keyword {
	flex: 1 1 100%;

	@include medium {
		flex: 1 1 22%;
	}
}

.club-search__form-distance,
.club-search__form-submit {
	flex: 1 1 100%;

	@include medium {
		flex: 1 1 12%;
	}
}

.club-search__form-input {
	background: $primary-color;
	border: 0;
	padding: 5px 10px;
	@include font($senary-font-size);

	@include placeholder(rgba(0, 0, 0, 0.4));

	@include medium {
		margin-right: 5px;
	}
}

.club-search__form-submit {
	background: $secondary-color;
	color: $primary-color;
}

.club-search__results-headline {
	@include font($fs-headline-lg-half);
	padding: $spacer-half;
	background: $white;
	font-style: italic;
	border-bottom: 1px solid $senary-color;
}

.club-search__results-headline--count {
	color: $primary-color;
}

.club-search__image-placeholder {
	height: auto;
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	display: block;
}

// CSS overwrite for select2
.club-search {
	margin-bottom: $spacer;

	span {
		width: 100%;
	}


	input {
		width: 100%;
	}


	@include medium {
		span {
			width: auto;
		}
		input {
			 width: auto;
		 }
	}
}