.club-detail-content {
	padding: $quaternary-spacer 0;
}

.club-detail__main-image-wrapper {
	position: relative;
	overflow: hidden;
	//max-height: 240px;

	@include small {
		max-height: 410px;
	}
}

.club-detail__main-image {
	width: 100%;
}

.club-detail__main-image--unowned {
	background: $white;
}

// avatar
.club-detail__avatar {
	width: 100%;
	position: relative;
	margin-bottom: $senary-spacer;

	@include small {
		bottom: 180px;
		margin-bottom: $secondary-spacer * (-1);
	}
}

.club-detail__avatar--create-form {
	position: static;
}

.club-detail__image {
	//display: block;
	width: 100%;
	height: 100%;
	display: flex;
	border-bottom: 1px solid $senary-color;
	background-color: $white;
}

.club-detail__content-wrapper {
	margin-bottom: $quaternary-spacer;
}

.club-detail__unpublished-badge {
	background-color: $warning-color;
	color: $secondary-color;
	padding: $tertiary-spacer;
	text-align: center;
	margin-bottom: 20px;
}

.club-detail__headline {
	@include font($nonary-font-size, 500, uppercase);
	margin-bottom: $tertiary-spacer;
}

.club-detail__location {
	@include font($octonary-font-size, 400, none, $primary-font-family);
	color: $primary-color;
	margin-bottom: $primary-spacer;

	&:before {
		font-family: $primary-icon-family;
		content: "\f041";
		margin-right: $tertiary-spacer / 2;
	}
}

// overview
.club-detail__overview-item {
	margin-bottom: $tertiary-spacer;
}

.club-detail__overview-label {
	@include font($octonary-font-size);
}

.club-detail__overview-value {
	@include font($octonary-font-size, 400, none, $primary-font-family);
	color: $primary-color;

	margin-bottom: $tertiary-spacer / 2;

	> i {
		pointer-events: none;
	}
}

.club-detail__overview-value--highlighted {
	display: inline-block;
	padding: $tertiary-spacer/2;
	background: $primary-color;
	margin-right: $tertiary-spacer/2;
	color: $white;
}

// edit handles
.club-content__hidden-input {
	opacity: 0;
	height: 0 !important;
	overflow: hidden;
}

.club-content__icon-button,
.club-content__edit-button {
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: $medium-red;
	color: $white;

	> span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
	}

	&:hover,
	&:focus {
		color: $white;
	}
}

.club-content__edit-button--basedata {
	float: right;
}

.club-content__edit-button--sociallinks {
	float: right;
}

.club-content__edit-button--information {
	float: right;
}

.club-content__edit-button--headerimage {
	position: absolute;
	right: 10px;
	bottom: 10px;
	padding: 0 15px;
}

.club-content__edit-button--avatarimage {
	position: absolute;
	right: 10px;
	bottom: 61px;
}

.club-content__form-action-wrapper {
	display: flex;
}

.club-content__edit-area {
	z-index: 1;
}

.club-content__edit-area--headerimage {
	@include small {
		position: absolute;
		top: auto;
		right: 0;
		bottom: 0;
	}
}

.club-content__options {
	text-align: right;
}

.club-content__options-button {
	position: relative;
	display: inline-flex;
	width: 30px;
	height: 30px;
	padding: $tertiary-spacer / 2 $tertiary-spacer;
	background: $medium-red;
	color: $white;

	&:hover,
	&:active,
	&:focus {
		color: $white;
	}

	&:nth-of-type(even) {
		margin-left: $tertiary-spacer / 2;
	}

	> span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
	}
}

.club-content__options-button-edit,
.club-content__options-button-cancel,
.club-content__options-button-remove {
	pointer-events: none;
}

.club-content__options-button--hidden {
	display: none;
}

.club-content__options-button-edit {
	letter-spacing: ($tertiary-spacer / 2) * (-1);
}

// aside menu
.club-detail__menu {
	@include font();
	background: $white;
	list-style: none;
	margin-bottom: $primary-spacer;
}

.club-detail__menu-list-item {
	position: relative;
	color: $tertiary-color;
	padding: $primary-spacer $senary-spacer;
	transition: .2s background-color ease, .2s color ease;
	background: rgba(0, 0, 0, 0);

	border-bottom: 1px solid $senary-color;

	&:last-child {
		border: 0;
	}
}

.club-detail__menu-list-item--static {
	&:hover {
		transition: .2s background-color ease, .2s color ease;
		background: rgba(0, 0, 0, 0);
		color: $tertiary-color;
		cursor: auto;
	}
}

.club-detail__menu-list-link {
	text-decoration: none;
	color: inherit;
	display: block;
	padding: $primary-spacer $senary-spacer;
	margin: ($primary-spacer*(-1)) ($senary-spacer*(-1));
	transition: .2s background-color ease, .2s color ease;

	&:hover, &.active, &.club-detail__menu-list-link--active {
		transition: .2s background-color ease, .2s color ease;
		background: $primary-color;
		color: $white;
		cursor: pointer;
	}
}

.club-detail__avatar-file-wrapper {
	position: absolute;
	right: 0px;
	bottom: 15px;
	padding: 0 $octonary-spacer;
	z-index: 1;

	label {
		padding: 0 $octonary-spacer;
	}
}

.club-detail__header-file-wrapper {
	position: absolute;
	right: 0;
	bottom: 10px;
	padding: 0 $octonary-spacer;

	label {
		padding: 0 $octonary-spacer;
	}
}

.club-detail__inline-form {
	padding: $primary-spacer $primary-spacer 0 $primary-spacer;
	margin-bottom: $senary-spacer;
	background: $light-gray;

	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}

.club-detail__inline-form-submit-wrapper {
	display: flex;
	margin: 0 $primary-spacer * (-1);
}

.club-detail__delete-sports-button {
	display: inline;
	min-height: initial;
	padding: 5px;
	line-height: $quinary-line-height;
}

.club-detail__select-sports {
	width: 100%;
}

.club-detail__edit-save-action-wrapper {
	display: flex;
	position: absolute;
	right: 15px;
	top: -75px;
}

.club-detail__edit-save-action-button {
	padding: 0 15px;
}

.tags {
	background-color: $primary-color;
	color: $senary-color;
	padding: $tertiary-spacer /2;
	float: left;
}

.club-detail__completion-progress-wrapper {
	@include font($octonary-font-size);
	margin-bottom: $septenary-spacer;
	background-color: $white;
	padding: 15px;
}

.club-detail__completion-progress-recommendation {
	padding: 10px 0 10px;
}

.club-detail__completion-progress-recommendation-list {
	list-style-type: none;
}

.club-detail__completion-progress-recommendation-listitem {
	padding-bottom: 3px;
}

.club-detail__completion-progress-pluspercent {
	color: $primary-color;
}

.club-detail__tabbable-menu {
	list-style: none;
	display: flex;
}

.club-detail__tabbable-menu--gap {
	margin-bottom: $senary-spacer;
}

.club-detail__tab {
	@include font($octonary-font-size, 400, uppercase);
	display: flex;
	background: $undecimal-color;
	color: $secondary-color;
	padding: $octonary-spacer;
	transition: .2s background-color ease, .2s color ease;

	&:hover,
	&.active {
		background: $primary-color;
		transition: .2s background-color ease, .2s color ease;
	}
}

.club-detail__tab--space {
	margin-right: $tertiary-spacer / 2;
}

.club-detail__tab-link {
	color: $secondary-color;
	padding: $octonary-spacer;
	margin: $octonary-spacer * (-1);
	text-decoration: none;
}

.club-detail__tab-icon {
	letter-spacing: $tertiary-spacer / 2;
	pointer-events: none;
}

// event

.club-detail__event-data-wrapper {
	display: flex;
	flex-flow: row wrap;
	position: absolute;
	top: 20px;
	right: 20px;
	left: 20px;
}

.club-detail__event-date-wrapper {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 100%;

	@include medium {
		flex-basis: 65%;
	}

}

.club-detail__event-label {
	@include font($octonary-font-size, 400, uppercase);
	display: flex;
	background: $primary-color;
	padding: $tertiary-spacer;
	color: $white;
	flex-basis: 31%;

	&:last-of-type {
		margin-top: $tertiary-spacer / 2;
	}

	@include medium {
		flex-basis: 25%;
	}
}

.club-detail__event-date {
	@include font($octonary-font-size, 400, uppercase);
	background: $white;
	padding: $tertiary-spacer;
	color: $medium-gray;
	margin-left: $tertiary-spacer / 2;

	&:last-of-type {
		margin-top: $tertiary-spacer / 2;
	}

	flex-basis: calc(69% - (#{$tertiary-spacer} / 2));

	@include medium {
		flex-basis: calc(75% - (#{$tertiary-spacer} / 2));
	}
}

.club-detail__event-location {
	@include font($octonary-font-size, 400);
	background: $white;
	padding: $tertiary-spacer;
	color: $medium-gray;
	flex-basis: 100%;
	margin-top: 5px;

	@include medium {
		flex-basis: calc(35% - (#{$tertiary-spacer} / 2));
		margin-left: $tertiary-spacer / 2;
		margin-top: 0;
	}
}

.club-detail__event-location-label {
	@include font($octonary-font-size, 400, uppercase);
	color: $primary-color;
}

// notification

.club-detail__notification {
	position: fixed;
	top: 123px;
	left: 0;
	right: 0;
	z-index: 11;
	width: 100%;
	text-align: center;
	padding: $senary-spacer;
	color: $white;

	display: none;

	@include medium {
		display: block;
	}
}

.club-detail__notification--hidden {
	display: none;
}

.club-detail__notification--warning {
	background: $warning-color;
	color: $secondary-color;
	//line-height: 40px;
}

.club-detail__notification--success {
	background: $success-color;
	color: $white;
}

.club-detail__notification--info {
	background: $medium-blue;
	color: $white;
}

.club-detail__notification-link {
	white-space: nowrap;
	text-decoration: none;
	background: $secondary-color;
	padding: $tertiary-spacer;
	color: $white;

	&:hover,
	&:focus,
	&:active {
		color: $white;
		text-decoration: none;
	}
}

.club-detail__button-group {
	margin-top: 88px;
	margin-bottom: $spacer;
	text-align: center;

	@include small {
		text-align: left;
		margin: 0;
		position: absolute;
		top: -$spacer-lg;
		right: $spacer-half;
		transform: translateY(-50%);
	}
}

.club-detail__memberize-team-selection {
	background-color: $white;
	border: 10px solid #dddddd;
	padding: 20px;
}

.club-detail__main-image-unowned-content {
	@include small {
		position: absolute;
		top: 30px;
		left: 50%;
		transform: translateX(-50%);
	}
}