.club-tile {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 30px;
}

.club-tile__image {
	max-width: 140px;
	height: 140px;
	width: auto;
	margin: $septenary-spacer;
}

.club-tile__image-wrapper {
	background: $secondary-color;
	display: flex;
	flex: 0 0 100%;
	justify-content: center;
	align-items: center;
}

.club-tile__name {
	@include font($senary-font-size, 400, uppercase, $primary-font-family);
	line-height: $senary-line-height;
	background: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	padding: 15px;
	text-align: center;
	color: $secondary-color;
	word-break: break-all;

	&:hover {
		color: $secondary-color;
	}
}

.club-tile__content {
	width: 100%;
}

// wide

.club-tile-wide {
	background: $white;
	margin-bottom: 1px;
}

.club-tile-wide__link {
	display: flex;
	flex-flow: row nowrap;
	text-decoration: none;
}

.club-tile-wide__link:hover {
	background: #fbfbfb;
}

.club-tile-wide__image-wrapper {
	flex-basis: calc(75px + #{$senary-spacer});
	padding: $octonary-spacer 0 $octonary-spacer $octonary-spacer;
}

.club-tile-wide__image {
	width: 100%;
	height: auto;
	border: 1px solid #f4f4f4;
}

.club-tile-wide__content {
	flex-basis: calc(100% - 75px - #{$senary-spacer});
	padding: $octonary-spacer;
}

.club-tile-wide__name {
	@include font($senary-font-size);
	font-weight: 400;
	color: $secondary-color;
	margin-bottom: $tertiary-spacer;
}

.club-tile-wide__link:hover .club-tile-wide__name {
	color: $primary-color;
}

.club-tile-wide__location {
	@include font($septenary-font-size);
	font-weight: 300;
	color: $mediumlight-gray;
	margin-bottom: $tertiary-spacer;
}

.club-tile-wide__sports {
	@include font($septenary-font-size);
	font-weight: 300;
	color: $mediumlight-gray;
}

// published toggle
.club-published__button-wrapper {
	padding: 20px;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
}

.club-published__button-label {
	color: $primary-color;
	@include font($septenary-font-size);
}