// club posts
// @todo rename some of the club-post classes to globalize its usage (e.g. `club-timeline`)
.club-post__wrapper {
	position: relative;
	&:before {
		@include small {
			content: " ";
			display: block;
			background-color: $undecimal-color;
			width: 2px;
			height: 100%;
			position: absolute;
			top: 0;
			left: $primary-spacer;
		}
	}
}

.club-post__item {
	margin-bottom: $senary-spacer;

	@include small {
		margin-left: $undecimal-spacer;
	}
}

.club-post__date {
	@include font($septenary-font-size);
	background: $undecimal-color;
	padding: 13px $primary-spacer;
	position: relative;
	display: inline-block;

	&:before {
		content: " ";
		display: block;
		background-color: $primary-color;
		width: $septenary-spacer;
		height: $septenary-spacer;
		position: absolute;
		left: $undecimal-spacer * (-1);
		top: 0;
	}
}


.club-post__item--no-list {
	@include small {
		margin-left: 0;
	}

	.club-post__date {
		&:before {
			display: none;
		}
	}
}

.club-post__date--scheduled {
	background: $medium-red;
	color: $white;
}

.club-post__container {
	position: relative;
}

.club-post__content {
	@include font();
	line-height: $senary-font-size;
	background: $white;
	padding: $senary-spacer;
}

.club-post__image {
	background-size: cover;
	background-position: top center;
	min-height: 220px;
	//margin-bottom: $senary-spacer;

	@include medium {
		min-height: 400px;
		//margin-bottom: 0;
	}
}

.club-post__image--none {
	background: $light-gray;
	min-height: 180px;
	margin-bottom: 0;

	@include medium {
		min-height: 113px;
	}
}

.club-post__image--full-width {
	margin-bottom: 0;
}

.club-timeline__caption {
	@include font($undecimal-font-size, 400, uppercase);
	line-height: 1.1;
}

// content
.club-content__box {
	background: $white;
	padding: $senary-spacer;
	margin-bottom: $senary-spacer;
}

.club-content__box--avatar-upload {
	margin-bottom: 1px;
}

.club-content__box-headline {
	@include font($secondary-font-size, 500, uppercase);
	margin-bottom: $primary-spacer;
	line-height: normal;
}

.club-content__box-text {
	@include font();
	line-height: $senary-line-height;
}

.club-content__image-box {
	padding: $senary-spacer;
	background: $light-gray;
}

.club-content__image-box--image {
	min-height: 400px;
	background-size: cover;
	background-position: top center;
}

// teams
.club-team__item {
	margin-bottom: $senary-spacer;
}

.club-team__sport {
	@include font($septenary-font-size);
	background: $undecimal-color;
	padding: 13px $primary-spacer;
	display: inline-block;
}

.club-team__name {
	@include font($secondary-font-size, 400, uppercase);
}

.club-team__contact {
	margin-bottom: $primary-spacer;
}

.club-team__contact-name,
.club-team__contact-email {
	@include font($primary-font-size, 400, none, $secondary-font-family);
}

.club-team__contact-email {
	color: $primary-color;
	text-decoration: none;

	&:before {
		font-family: $primary-icon-family;
		content: "\f0e0";
		margin-right: $tertiary-spacer / 2;
	}

	&:hover {
		text-decoration: none;
		
		&:before {
			content: "\f003";
		}
	}
}

.club-team__description {
	@include font($octonary-font-size);
	color: $mediumlight-gray;
}

// social links
.club-social__container {
	margin-bottom: $primary-spacer;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.club__social-link-item {
	margin-bottom: $tertiary-spacer / 2;
}

.club__social-link {
	@include font($octonary-font-size);
	color: $tertiary-color;
	text-decoration: none;

	&:before {
		font-family: $primary-icon-family;
		margin-right: $tertiary-spacer / 2;
	}

	&:hover,
	&:focus,
	&.active {
		color: $primary-color;
		text-decoration: none;
	}
}

.club__social-link--facebook {
	&:before {
		content: "\f09a";
	}
}

.club__social-link--web {
	&:before {
		content: "\f0ac";
	}
}

.club__social-link--flickr {
	&:before {
		content: "\f16e";
	}
}

.club__social-link--googleplus {
	&:before {
		content: "\f0d5";
	}
}

.club__social-link--instagram {
	&:before {
		content: "\f16d";
	}
}

.club__social-link--twitter {
	&:before {
		content: "\f099";
	}
}

.club__social-link--youtube {
	&:before {
		content: "\f167";
	}
}

// legacy post classes (new appearance, old class names)
.snippet-body {
	display: flex;
	align-items: center;
	margin: $primary-spacer 0;
	border-top: 1px solid $secondary-color;

	img {
		width: 100%;
	}
}

.snippet-image {
	flex-basis: 100%;
}

.snippet-text {
	color: $mediumlight-gray;
}

.snippet-host {
	@include font($primary-font-size, 400, uppercase);
	color: $mediumlight-gray;
}

.post-link {
	word-break: break-all;
}

// Slick slider

.slick-prev,
.slick-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	border: none;
	z-index: 10;
	opacity: 0.75;
	font-size: 32px;
	padding: 20px;
	color: $secondary-color;
	outline: none;

	&:before {
		font-family: FontAwesome;
	}
}

.slick-prev {
	&:before {
		content: "\f053";
	}
}

.slick-next {
	&:before {
		content: "\f054";
	}
}