.user-dashboard__section {
	padding: $senary-spacer 0;
}

.user-dashboard__headline {
	@include font($fs-text-sm, 400, uppercase, $primary-font-family);
	background-color: $primary-color;
	color: $white;
	padding: $tertiary-spacer / 2;
	margin-bottom: $tertiary-spacer / 2;
	display: inline-block;
}

.user-dashboard__subheadline {
	@include font($decimal-font-size, 700, uppercase, $secondary-font-family);
	margin-bottom: $senary-spacer;
}

.dashboard__section {
	padding: $quaternary-spacer 0;
}