.error-page__section {
  padding-top: 30px;
  padding-bottom: 50px;
}

.error-page__headline {
  @include font($decimal-font-size, 400, uppercase, $secondary-font-family);
  margin-bottom: $senary-spacer;
}