.event__upcoming {
	display: flex;
	background-color: $secondary-color;
	padding: $secondary-spacer 0;
}

.event__upcoming-wrapper {
	margin-bottom: 30px;

	@include medium {
		margin-bottom: 0;
	}
}

.event__upcoming-element {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.event__upcoming-image {
	width: 100%;
	height: 250px;
	display: flex;
	background-color: $senary-color;
	background-size: cover;
	background-position: center;
}

.event__upcoming-image-wrapper {
	width: 100%;
	position: relative;
}

.event__upcoming-caption-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: $tertiary-spacer;
	z-index: 2;
}

.event__upcoming-text {
	background-color: rgba($white, 0.85);
	padding: $tertiary-spacer / 2;
	margin-bottom: $tertiary-spacer / 3;
	color: $secondary-color;

	&:hover {
		color: $secondary-color;
	}
}

.event__upcoming-club {
	@include font($septenary-font-size, 400);
	line-height: $septenary-line-height;
	display: block;
}

.event__upcoming-name {
	@include font($senary-font-size, 400, uppercase, $secondary-font-family);
	line-height: $senary-line-height;
	display: block;
	margin-top: $tertiary-spacer / 2;
}

.event__upcoming-date-box {
	@include font($septenary-font-size, 400, uppercase);
	line-height: $septenary-line-height;
	background-color: rgba($primary-color, 0.85);
	color: $white;
	padding: $tertiary-spacer / 2;
}

.event__upcoming-date-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.event__upcoming-date {
	background-color: rgba($white, 0.85);
	@include font($septenary-font-size, 400);
	line-height: $septenary-line-height;
	padding: $tertiary-spacer / 2;
	flex-grow: 1;
	margin-left: $tertiary-spacer / 3;
	color: $secondary-color;

	&:hover {
		color: $secondary-color;
	}
}