.feature-section {
	display: flex;
	background-color: $white;
	padding: $secondary-spacer 0;
}

.feature-section__image {
	display: block;
	max-width: 100%;
	margin: 0 auto 30px;
}

.feature-section__video {
	position: relative;
	height: 0;
	overflow: hidden;
	margin-bottom: $spacer-half;

	iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	@include generateRatios(16, 9);
	
	@include medium {
		margin: 0;
	}
}

.feature-section__item {
	background: $secondary-color;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: $senary-spacer $septenary-spacer;
	min-height: 300px;
	margin-bottom: 30px;

	@include medium {
		margin-bottom: 0;
	}
}

.feature-section__item-icon {
	margin-bottom: $tertiary-spacer;
}

.feature-section__item-text {
	@include font($septenary-font-size);
	color: $white;
}

.feature-section__item-caption {
	@include font();
	margin-bottom: $tertiary-spacer;
	color: $primary-color;
}

.feature-section__item-icon,
.feature-section__item-text,
.feature-section__item-caption {
	display: flex;
	flex: 0 0 100%;
	justify-content: center;
	text-align: center;
}

.feature-section__overview {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	flex: 0 0 100%;
}

.feature-section__overview-list {
	display: flex;
	flex-flow: row wrap;
}

.feature-section__overview-list-content {
	width: 100%;
}

.feature-section__overview-list-icon {
	margin-right: #{$gutter};
}

.feature-section__overview-list-caption {
	@include font();
	color: $primary-color;
	margin-bottom: $tertiary-spacer;
}

.feature-section__overview-list-text {
	@include font($septenary-font-size);
}

.feature-section__overview-list-caption,
.feature-section__overview-list-text {
	display: flex;
	flex: 0 0 100%;
}

.feature-section__overview-wrapper {
	display: flex;
	align-items: center;
	margin-bottom: $senary-spacer;
}

.feature-section__row {
	margin-bottom: $secondary-spacer - 30px;
}