.footer {
	background: $secondary-color;
	display: flex;
	align-items: center;
	padding: $primary-spacer 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer__slogan {
	@include font($septenary-font-size, 400, uppercase);
	color: $white;
	padding-right: 10px;
	margin-right: auto;
	flex: 0 0 100%;

	@include medium {
		flex: 0 0 50%;
	}
}

.footer__menu {
	display: flex;
	justify-content: flex-start;
	list-style: none;
	flex: 0 0 100%;

	@include medium {
		justify-content: flex-end;
		flex: 0 0 50%;
	}
}

.footer__menu-item {
	display: inline-flex;
	justify-content: flex-end;
	padding-left: $primary-spacer;
	flex-shrink: 0;
	
	&:first-of-type {
		padding: 0;
	}
}

.footer__menu-item-link {
	@include font($septenary-font-size, 400, uppercase);
	display: flex;
	color: $tertiary-color;
	transition: .3s color;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		transition: .3s color;
		color: $white;
		text-decoration: none;
	}
}