.hl {
	position: relative;
	z-index: 2;
	display: block;
	margin: 0;
	margin-bottom: $spacer-sm;
	font-size: $fs-headline;
	font-weight: 700;
	color: $primary-color;
}

.hl--bordered {
	border-bottom: 1px solid $white;
}

.hl--highlight {
	color: $warning-color;
}

.hl--alternate {
	font-size: $fs-headline-alternate;
	color: $white;
}

.hl-alternate-ft {
	font-family: 'Arvo';
}

.hl--inverted {
	color: $secondary-color;
}

.hl--small {
	font-size: $fs-headline-sm;

}

.hl--large {
	font-size: $fs-headline;
	font-weight: 700;
	margin-bottom: $spacer-sm-double;
	@include xsmall {
		font-size: $fs-headline-lg;
	}
}

.hl--large-alternate {
	font-size: $fs-headline-lg-alternate;
	color: $secondary-color;
	margin-bottom: $spacer-sm-double;
}

.hl--badged {
	background-color: $primary-color;
	color: $white;
	text-transform: uppercase;
	display: inline-flex;
	padding: $spacer-sm-half $spacer-sm;
}

.hl--upper {
	text-transform: uppercase;
}

.hl--reverted {
	color: $secondary-color;
}

.hl--light {
	color: $white;
}

.hl--underlined {
	&:after {
		content: '';
		display: block;
		height: 6px;
		width: 30px;
		margin: 0 auto;
		margin-top: $spacer-sm-double;
		margin-bottom: $spacer;
		background: $primary-color;
	}
}

.hl--underlined--reverted {
	&:after {
		background: $secondary-color;
	}
}

.hl--centered {
	text-align: center;
}

.hl--price {
	font-size: $fs-headline-alternate;
	font-weight: 700;
	color: $warning-color;
}

.hl--icon {
	display: inline-block;
	font-size: 42px;
	width: 40px;
	vertical-align: top;
}

.hl--have-icon {
	display: inline-block;
	width: calc(100% - 60px);
}