.hero-slider {
	margin-bottom: 0;
}

.hero-slider__image {
	background-size: cover;
	background-position: center center;
	min-height: 610px;
	margin-bottom: 0;

	&--condensed {
		height: 300px;
	}
}

.hero-slider__wrapper {
	height: 450px;
	overflow: hidden;
	position: relative;
}

.hero-slider__wrapper--condensed {
	height: 300px;
}

.hero-slider__content {
	position: absolute;
	top: 130px;
	left: 0;
	//transform: translateY(-80%);
	padding: 0 $octonary-spacer;
	width: 100%;

	@include medium {
		left: auto;
		padding: 0;
		width: auto;
	}
}

.hero-slider__content--centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.hero-slider__box-wrapper {
	display: flex;
	flex: 0 0 100%;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: $senary-spacer;
}

.hero-slider__box {
	@include font();
	background-color: $primary-color;
	padding: $senary-spacer 0;
	margin-left: 3vw;
	margin-bottom: 3vw;
	text-align: center;
	flex-grow: 1;
	width: 25%;

	@include xsmall {
		padding: $senary-spacer $tertiary-spacer;
		margin-left: $senary-spacer;
		margin-bottom: $senary-spacer;
	}

	@include medium {
		min-width: 150px;
		margin-bottom: 0;
		width: auto;
	}

	&:first-of-type {
		margin-left: 0;
	}

	&:nth-of-type(4) {
		margin-left: 0;

		@include medium {
			margin-left: $senary-spacer;
		}
	}

	@media (max-width: 400px) {
		//font-size: ;
	}
}

.hero-slider__box--inverted {
	background: $secondary-color;
	color: $primary-color;
}

.hero-slider__box--inverted-caption {
	@include font($nonary-font-size, 500, uppercase);
	color: $primary-color;
}

.hero-slider__box--highlighted {
	background-color: $nonary-color;
}

.hero-slider__box--highlighted-caption {
	@include font($nonary-font-size, 500, uppercase);
	color: $secondary-color;
}

.hero-slider__box--highlighted-subcaption {
	text-transform: uppercase;
}

.hero-slider__box-caption {
	@include font($nonary-font-size);
	color: $white;
	display: block;
}

.hero-slider__box-subcaption {
	display: block;
}

.hero-slider__box-subcaption--highlight {
	@include font($primary-font-size, 700);
}

.hero-slider__box-link {
	text-decoration: none;
	color: inherit;
}

.hero-slider__caption {
	@include font($undecimal-font-size, 500, uppercase, $secondary-font-family);
	color: $white;
}

.hero-slider__big-btn-text {
	text-decoration: none;
	display: block;
	font-size: $fs-basic;
	color: $white;

	@include small {
		font-size: $fs-headline;
	}

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		color: $white;
		.hero-slider__big-btn {
			background: $secondary-color;
		}
	}
}

.hero-slider__big-btn {
	width: 100%;
	padding: $spacer-sm-double;
	background: $primary-color;
	transition: $transition-short background;
}

// externals
.slick-next,
.slick-prev {
	opacity: 0;
	position: absolute;
}

.slick-prev {
	left: 0px;
}

.slick-next {
	right: 0px;
}