.highlight-ribbon {
	background: $secondary-color;
	display: flex;
	flex-flow: row wrap;
	padding: 30px 15px;
}

.highlight-ribbon__headline {
	@include font($secondary-font-size, 400, uppercase);
	color: $quinary-color;
	display: flex;
	flex-basis: 100%;
	justify-content: center;
	margin-bottom: $tertiary-spacer;
}

.highlight-ribbon__subheadline {
	@include font();
	color: $white;
	text-align: center;
	//display: flex;
	flex-basis: 100%;
	justify-content: center;
}

.highlight-ribbon__subheadline--highlight {
	color: $quinary-color;
	text-decoration: none;

	&:active,
	&:hover,
	&:visited,
	&:focus {
		text-decoration: none;
	}
}