.input-notification {
	width: 100%;
	padding: $spacer-sm;
	position: absolute;
	bottom: 0;
	z-index: 5;
	transform: translateY(100%);
	left: 0;

	&:after {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 15px 20px 15px;
		position: absolute;
		right: 20px;
		top: 0;
		transform: translateY(-100%);
	}
}

.input-notifcation--error {
	color: $white;
	background: $danger-color;
	transition: $transition-short;
	&:after {
		border-color: transparent transparent $danger-color transparent;
	}
}

.input-notification--relieved {
	&:after {
		display: none;
	}
}

input:focus + .input-notification,
textarea:focus + .input-notification {
	opacity: 0.25;
}