.link {
	&:link,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		color: $secondary-color;
		text-decoration: none;
	}

	&:hover {
		text-decoration: underline;
	}
}

.link--underlined {
	position: relative;
	&:after {
		content: '';
		width: 100%;
		height: 6px;
		background: $color-light-gray;
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translateY(4px);

	}
	&:hover {
		text-decoration: none;
	}
}