.member-card__link {
	&:link,
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

.member-card {
	display: flex;
	color: $primary-color;
	background: $white;
	flex-flow: column nowrap;
	margin-bottom: $spacer;

	@include small {
		flex-flow: row nowrap;
	}
}

.member-card--user-stream {
	margin-bottom: $spacer-half;

	.member-card__club-name {
		color: $primary-color;
	}

}

.member-card--inverted {
	background: $secondary-color;

	.member-card__name {
		color: $primary-color;
	}

	.member-card__username,
	.member-card__interests {
		color: $white;
	}

}

.member-card__profile-image {
	width: 100%;
	background-position: center;
	background-size: cover;
	height: 200px;

	@include small {
		min-width: 150px;
		max-width: 150px;
		height: auto;
	}
}

.member-card__profile-image--user-stream {
	@include small {
		min-width: 90px;
		max-width: 90px;
		height: auto;
	}
}

.member-card__club-and-interests--user-stream {
	align-self: flex-end;
}

.member-card__profile-informations {
	max-width: 210px;
	display: flex;
	flex-flow: column wrap;
	flex-grow: 1;
	padding: $spacer-sm;
	height: 200px;
	justify-content: space-between;
}

.member-card__profile-information--user-stream {
	height: 120px;
	flex-flow: row wrap;
	max-width: 100%;
	border-left: 3px solid $senary-color;
}

.member-card__name {
	font-family: $primary-font-family;
	font-weight: 700;
	text-transform: uppercase;
	font-size: $fs-text;
	color: $secondary-color;
	word-break: break-word;
}

.member-card__username {
	font-size: $fs-text-sm;
	font-weight: 400;
	color: $primary-color;
	word-break: break-word;
}

.member-card__club {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: $spacer-sm-half;
}

.member-card__credentials {
	display: flex;
	flex-flow: column wrap;
}

.member-card__club-image-wrapper {
	max-width: 30px;
	max-height: 30px;
	display: none;

	@include small {
		display: flex;
		margin-right: $spacer-sm-half;
	}
}

.member-card__club-image {
	background: $white;
	width: 30px;
	height: 30px;
}

.member-card__club-image--user-stream {
	width: 20px;
	height: 20px;
}

.member-card__club-name {
	font-size: $fs-text-sm;
	word-break: break-word;
	font-weight: 700;
}

.member-card__interests {
	font-size: $fs-text-sm;
	color: $secondary-color;
	word-wrap: break-word;
	word-break: break-word;
	font-weight: 400;
}

.member-card__club-link {
	@extend .member-card__link;

	display: flex;
	align-items: center;
	text-decoration: none;
	color: $secondary-color;
}