.navi-wrapper {
	position: fixed;
	top: $sponsor-ribbon-height;
	z-index: 499;
	width: 100%;
	background: $secondary-color;

	@include medium{
		border: none;
	}
}

.navi {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	height: $header-nav-height;

	width: $container-width;
	flex-basis: $container-width;
	flex-grow: 0;
	margin: 0 auto;
	padding: 0 $octonary-spacer;

	@include small {
		flex-basis: $container-width-small;
		width: $container-width-small;
	}

	@include medium {
		flex-basis: $container-width-medium;
		width: $container-width-medium;
	}

	@include large {
		flex-basis: $container-width-large;
		width: $container-width-large;
	}
}

.navi__logo {
	transform: scale(0.8);
	transform-origin: left;

	@include large {
		transform: scale(1);
	}
}

.navi__mobile-button {
	position: relative;
	width: 40px;
	height: 40px;
	order: 3;
	background: $octonary-color;
	color: $primary-color;
	cursor: pointer;

	&:focus,
	&:hover,
	&:active {
		color: $white;
	}

	@include medium {
		display: none;
	}
}

.mobile-button__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menu-wrapper {
	display: block;
	flex-grow: 1;
	flex-flow: column nowrap;
	max-height: 0px;
	overflow-y: hidden;
	transition: max-height 0.6s;

	position: absolute;
	top: 100%;
	right: 0;
	width: 100%;
	background: $secondary-color;

	@include small {
		max-width: 350px;
	}

	@include medium {
		max-height: none;
		overflow: visible;
		display: flex;
		flex-flow: row nowrap;
		position: static;
		border: none;
		max-width: 100%;
		margin-left: -20px;
	}

	@include large {
		margin-left: 0;
	}
}

.menu-wrapper--active {
	max-height: calc(100vh - #{$sponsor-ribbon-height} - #{$header-nav-height});

	@include medium {
		max-height: none;
	}
}

.menu-wrapper--opened {
	overflow-y: auto;

	@include medium {
		overflow-y: visible;
	}
}

.menu__list {
	display: flex;
	list-style: none;
	flex-shrink: 0;
	align-items: stretch;
	flex-flow: column wrap;

	@include medium {
		flex-flow: row wrap;
	}

	&:first-child {
		border-top: 1px solid rgba($tertiary-color, 0.5);

		@include medium {
			border: none;
		}
	}
}

.menu__list--auth {
	@include medium {
		margin-left: auto;
	}

	.menu__item-link {
		color: $nonary-color !important;
	}

	.fa-user {
		margin-right: $tertiary-spacer / 2;
	}

	.fa-search {
		margin-right: $tertiary-spacer / 2;
	}

	.menu__sub {
		left: -185px;
	}
}

.menu__logo {
	align-items: center;
}

.menu__item {
	@include font($primary-font-size, 400);
	display: inline;
	position: relative;

	@include medium {
		padding-left: 15px;
		border: none;
	}

	@include large {
		padding-left: $senary-spacer;
	}

	&:focus,
	&:hover {
		.menu__item-link {
			color: $senary-color;
		}

		.menu__item-link--dropdown {
			color: $senary-color;

			&:after {
				content: "\f077";
			}
		}

		.menu__sub {
			max-height: 100vw;
			transition: max-height 0.6s;

			@include medium {
				padding: 10px $senary-spacer;
				transition: none;
			}
		}
	}
}

.menu__item--auth {
	color: $nonary-color;

	&:first-of-type {
		margin-left: auto;
	}
}

.menu__item-link {
	display: block;
	color: $quinary-color;
	transition: .2s color;
	text-decoration: none;
	padding: $tertiary-spacer 0 $tertiary-spacer 20px;
	border-bottom: 1px solid rgba($tertiary-color, 0.5);

	&:visited {
		color: $quinary-color;
	}

	&:active,
	&:focus,
	&:hover {
		color: $senary-color;
		text-decoration: none;
	}

	@include medium {
		padding: 30px 0;
		border: none;
	}
}

.menu__item-link--active {
	color: $senary-color;

	&:visited {
		color: $senary-color;
	}
}

.menu__item-link--dropdown {
	cursor: default;

	&:after {
		font-family: "FontAwesome";
		content: "\f078";
		font-size: 0.7rem;
		vertical-align: middle;
		margin-left: calc(#{$tertiary-spacer / 2});
		display: inline-block;
	}

	@include medium {
		&:after {
			display: none;
		}
	}
}

.menu__item-link--search {
	color: $nonary-color;
	&:before {
		font-family: "FontAwesome";
		content: "\f002";
		margin-right: calc(#{$tertiary-spacer / 2});
		display: inline-block;
	}

	&:hover {
		transition: .2s color;
		color: $senary-color !important;
		cursor: pointer;
		text-decoration: none;
	}
}

.menu__item-link--register {
	color: $nonary-color;
	&:before {
		font-family: "FontAwesome";
		content: "\f234";
		margin-right: calc(#{$tertiary-spacer / 2});
		display: inline-block;
	}

	&:hover {
		transition: .2s color;
		color: $senary-color !important;
		cursor: pointer;
		text-decoration: none;
	}
}

.menu__item-link--login {
	color: $nonary-color;
	&:before {
		font-family: "FontAwesome";
		content: "\f090";
		margin-right: calc(#{$tertiary-spacer / 2});
		display: inline-block;
	}

	&:hover {
		transition: .2s color;
		color: $senary-color !important;
		cursor: pointer;
		text-decoration: none;
	}
}

.menu__item-gravatar {
	margin-right: $tertiary-spacer;
}

.menu__item-link--centered {
	align-items: center;
	display: flex;
}

// submenu
.menu__sub {
	background: $octonary-color;
	color: $senary-color;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.3s;

	@include medium {
		position: absolute;
		min-width: 300px;
		top: 100%;
		z-index: 1;
		background: $secondary-color;
		transition: none;
	}
}

.menu__sub-item {
	border-bottom: 1px solid $secondary-color;

	&:last-child {
		border-bottom: 1px solid rgba($tertiary-color, 0.5);
	}

	@include medium {
		border-bottom: 1px solid rgba($tertiary-color, 0.5);

		&:last-child {
			border: none;
		}
	}
}

.menu__sub-item-link {
	display: block;
	color: $quinary-color;
	text-decoration: none;
	padding: $tertiary-spacer 0 $tertiary-spacer 40px;

	@include medium {
		padding: $octonary-spacer 0;

		&:focus,
		&:hover,
		&:active {
			color: $senary-color;
		}
	}
}

.menu__sub-item-link--active {
	color: $senary-color;
}