.meter {
	height: 20px;
	position: relative;
	background: $secondary-color;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter--spaced {
	margin-bottom: $spacer;
}

.meter > span {
	display: block;
	height: 100%;
	background-color: $primary-color;
	position: relative;
	overflow: hidden;
	transition: width .5s;
}

.meter > label {
	position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 11px;
  padding-top: 4px;
}