.modal {
	transform: translateY(-50%) translateX(-50%) scale(0);
	transition: $transition-short transform;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 700;
	background: $white;
	max-width: 700px;
}

.modal__close {
	position: absolute;
	top: -$spacer;
	right: 0;
	cursor: pointer;
	color: $light-gray;
	> i {
		pointer-events: none;
	}
}

.modal__inner {
	padding: 40px 20px;
	text-align: center;
	overflow: auto;
	max-height: 60vh;
	border: solid 6px $primary-color;
}

.modal__container {
	visibility: hidden;
	&:before {
		content: '';
		opacity: 0;
		background: rgba($secondary-color, 0);
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 699;
		transition: $transition-short background;
	}
}

.modal__container--opend {
	visibility: visible;
	.modal {
		transform: translateY(-50%) translateX(-50%) scale(1);
	}
	&:before {
		background: rgba(#000, 0.75);
	}
	&:before {
		opacity: 1;
	}
}

.modal__info {
	font-size: $primary-font-size;
	font-weight: 300;
	@include medium {
		width: 70%;
		margin: 0 auto;
	}
}
.modal__info p {
	font-size: $primary-font-size;
	font-weight: 300;
	margin-top: $fs-basic;
}

.modal__hint {
	font-size: $fs-text-sm;
	margin-top: $spacer-sm;
}

.modal__options {
	@include medium {
		display: flex;
		max-width: 60%;
		margin: 0 auto;
	}
}

.modal__step1,
.modal__step2 {
	display: none;
}

.modal__step--opend {
	display: block;
}

.modal__checkbox-input {
	visibility: hidden;
	height: 0px;
	width: 0;
	padding: 0;
	margin: 0;

	&:checked {
		+.modal__checkbox {
			background: $primary-color;
			color: $white;
			border: 1px solid $white;
		}
	}
}

.modal__checkbox {
	border: 1px solid $primary-color;
	padding: $spacer-sm-half;
	display: inline-block;
	margin-top: $spacer;
	background: $senary-color;
	transition: $transition-short background, $transition-short color, $transition-short border;
	cursor: pointer;
}

.modal__warning {
	margin-top: $spacer-sm;
	font-style: italic;
}

.modal__btn-grp {
	display: block;
	
	@include small {
		display: flex;
		flex-flow: row nowrap;
	}
}

.modal__btn-grp--spaced {
	margin-top: $spacer-sm-double;
}

.modal__btn--exit {
	display: block;
	flex-basis: 100%;
	@include small {
		justify-content: center;
		display: flex;
	}
}

.modal__btn--next {
	flex-grow: 1;
}
