// general
.news__category-wrapper {
	@include font($fs-text-sm, 400, uppercase, $primary-font-family);
	background-color: $primary-color;
	color: $white;
	padding: $tertiary-spacer / 2;
	margin-bottom: $spacer;
	display: inline-block;
}

.news__category-section {
	padding-top: $secondary-spacer;
}

.news__category-section--inverted {
	background-color: $white;
}

.news__headline {
	@include font($decimal-font-size, 700, uppercase, $secondary-font-family);
	margin-bottom: $senary-spacer;
}

// detail
.news-detail,
.job-exchange {
	display: flex;
	flex-flow: row wrap;
	padding: $quaternary-spacer 0;
	color: $secondary-color;
}

.news-detail__main,
.job-exchange__main {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 100%;
	font-weight: 300;
}

.news-detail__headline,
.job-exchange__headline {
	@include font($nonary-font-size, 700, uppercase, $secondary-font-family);
	flex-basis: 100%;

	margin-bottom: $tertiary-spacer;
}

.news-detail__caption {
	@include font($undecimal-font-size, 300, none, $primary-font-family);
	flex-basis: 100%;

	margin-bottom: $senary-spacer;
}

.news-detail__published-wrapper {
	display: flex;
	flex-basis: 100%;
	margin-bottom: $spacer-sm;
	@include large {
		justify-content: flex-end;
	}
}

.news-detail__published {
	@include font($secondary-font-size, 400, none, $primary-font-family);
	font-style: italic;

	@include medium {
		@include font($octonary-font-size, 400, none, $primary-font-family);
	}
}

.news-detail__main-image {
	width: 100%;
	height: 100%;
	margin-bottom: 5px;
}

.news-detail__main-image-source {
	@include font($septenary-font-size);
	margin-bottom: $senary-spacer;
	flex-basis: 100%;
}

.news-detail__content,
.job-exchange__content {
	// @todo change this as soon as markup classes are imported
	flex-basis: 100%;
	margin-bottom: $spacer-sm-double;

	img {
		width: 100% !important;
		//height: 100% !important;
		display: block;
		margin-bottom: $primary-spacer;
	}

	iframe {
		max-width: 100%;
		display: block;
	}

	p {
		@include font($primary-font-size, 300);
		line-height: $senary-line-height;
		margin-bottom: $primary-spacer;
	}

	strong {
		@include font($primary-font-size, 500);
	}

	a {
		color: $secondary-color;

		&:hover {
			color: $primary-color;
		}
	}
	
	h1 {
		@include font($nonary-font-size);
		margin-bottom: $primary-spacer;
	}
	
	h2 {
		@include font($undecimal-font-size, 700);
		margin-bottom: $primary-spacer;
	}
	
	h3 {
		@include font($septenary-font-size);
		margin-bottom: $primary-spacer;
	}
	
	ul {
		list-style: disc;
		margin-bottom: $primary-spacer;
		margin-left: $septenary-spacer;
	}
	
	ol {
		list-style: decimal;
		margin-bottom: $primary-spacer;
		margin-left: $septenary-spacer;
	}
	
	li {
		line-height: normal;
	}

}

.news-detail__content-teaser,
.job-exchange__content-teaser {
	@include font($primary-font-size, 700);
	margin-bottom: $septenary-spacer;
	flex-basis: 100%;
}

// aside
.news-detail__aside {
	@include font();
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	align-content: flex-start;
	flex-basis: 100%;
}

.news-detail__aside-inner {
	display: block;
	position: relative;
	background-color: $secondary-color;
	padding: $senary-spacer;
	color: $white;
	//min-height: 1070px;
	width: 100%;
}

.news-detail__aside-caption-wrapper {
	display: flex;
	flex-basis: 100%;
	flex-flow: row wrap;

	&:after {
		content: " ";
		display: block;
		height: 1px;
		background-color: $white;
		margin: $primary-spacer 0;
		width: 100%;
	}
}

.news-detail__aside-introduce {
	flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	margin-bottom: calc(#{$tertiary-spacer} / 2);
}

.news-detail__aside-introduce--highlight {
	@include font($primary-font-size, 700);
}

.news-detail__aside-news-item {
	@include font($undecimal-font-size, 700, uppercase, $primary-font-family);
	display: flex;
	flex-flow: row wrap;
	flex-basis: 100%;
}

.news-detail__aside-news-item-date {
	@include font($primary-font-size, 700, uppercase, $primary-font-family);
	display: block;
	color: $primary-color;
	margin-bottom: calc(#{$tertiary-spacer} / 2);
}

.news-detail__aside-news-item-caption {
	text-transform: none;
	display: block;
	color: $white;
	margin-bottom: $tertiary-spacer;
}

.news-detail__aside-news-item-image {
	width: 100%;
	height: 50vw;
	max-height: 250px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: $quaternary-spacer;

	@include medium {
		height: 150px;
	}
}

.news-detail__aside-news-pagination {
	@include font();
	position: absolute;
	margin: 0 $senary-spacer * (-1);
	bottom: $senary-spacer;
	width: 100%;
	padding: 0 20px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.news-detail__aside-link {
	width: 100%;
	text-decoration: none;
	color: inherit;
	display: block;
}

// overview
.news-overview {
	padding-bottom: $secondary-spacer;
}

.news-overview--inverted {
	background-color: $white;
}

.news-overview__item-content {
	background: $white;
	padding: ($senary-spacer*2) $senary-spacer $septenary-spacer;
	height: 300px;

	@include small {
		height: 250px;
	}
}

.news-overview__item-content--inverted {
	background-color: $senary-color;
}

.news-overview__item-content--plain {
	padding: $senary-spacer $senary-spacer $septenary-spacer;

}

.news-overview__teaser {
	margin-bottom: $senary-spacer;
}

.news-overview__image-wrapper {
	position: relative;
	width: 100%;
	display: flex;
}

.news-overview__image {
	width: 100%;
	height: 220px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.news-overview__item-category-wrapper {
	@include font($septenary-font-size, 400, uppercase);
	background: $secondary-color;
	color: $white;
	padding: $tertiary-spacer $senary-spacer;
	width: calc(100% - #{$senary-spacer});
	position: absolute;
	left: 0;
	// @todo fix me
	bottom: -27px;
}

.news-overview__item-category {
	@include font($septenary-font-size, 700, uppercase);
	display: block;
}

.news-overview__item-headline {
	@include font($senary-font-size, 700, uppercase, $secondary-font-family);
	margin-bottom: $tertiary-spacer;
	line-height: 1.3;
}

.news-overview__item-text {
	@include font($octonary-font-size);
}

.news-overview__link {
	display: flex;
	width: 100%;
}

.news-detail__category-link {
	color: $white;
	text-decoration: none;
	
	&:active,
	&:hover,
	&:visited,
	&:focus {
		text-decoration: none;
	}
}