.pagination {
	margin: 10px 0 20px;

	li {
		display: inline-block;
	}

	span,
	a {
		display: inline-block;
		padding: 10px 13px;
		margin-right: 2px;
		background-color: $white;
		color: $secondary-color;
		text-decoration: none;
	}

	.active span,
	a:hover {
		background-color: $primary-color;
		color: $white;
	}

	.disabled span {
		color: $mediumlight-gray;
	}
}