.paragraph {
	font-size: $fs-basic;
	margin-bottom: $spacer-sm-double;
}

.paragraph--small {
	font-size: $fs-text-sm;
}

.paragraph--last {
	margin-bottom: $spacer-lg;
}

.paragraph--no-bottom-spacing {
	margin-bottom: 0;
}

.paragraph--price {
	color: $white;
}