.partner-section {
	padding: $spacer-double 0 calc(#{$secondary-spacer} - #{$senary-spacer}) 0;
	background-image: url('/static_images/image-partner.jpg');
	background-size: cover;
	background-attachment: fixed;

	.row {
		.col-md-2 {
			margin: 0 auto $senary-spacer;
		}

		@include small{
			.col-sm-6 {
				text-align: center;
			}
		};

		@include xsmall-down {
			.col-sm-6 {
				text-align: center;
			}
		}
	}
}

.item-category {
	background: $secondary-color;
	display: inline-block;
	width: 100%;
	//max-width: 240px;
	height: calc(100% - 3px);
	max-height: 100px;
	line-height: calc(100% - 3px);

	.item-category__label {
		font-weight: bold;
		font-size: $fs-headline-lg-half;
		text-align: center;
		line-height: 70px;
		color: $white;
		height: 100%;

		@include medium{
			line-height: 55px;
		}

		@include large{
			line-height: 70px;
		}
	}
}


.partner-section__link {
	display: inline-block;
	width: 100%;
	max-width: 240px;

	.partner-section__image {
		width: 100%;
	}
}

.partner-section__headline-label {
	margin: $octonary-spacer 0;
	display: inline-block;
}