// TODO: create (good) arrow mixin

.popover {
	position: absolute;
	z-index: 20;
	background: $white;
	transform: scale(0);
	transition: $transition-short transform;
}

.popover--opend {
	transform: scale(1);

	// for animation only
	&.popover--bottom-center {
		transform: translateY(100%) translateX(-50%) scale(1);
	}
	&.popover--bottom-right {
		transform: translateY(100%) translateX(0%) scale(1);
	}
}

.popover--bottom-center {
	bottom: 0;
	left: 50%;
	transform: translateY(100%) translateX(-50%) scale(0);

	&:after {
		content: '';
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-style: solid;
		border-color: rgba($white, 0);
		border-width: 25px;
		margin-top: -25px;
		top: 0;
		left: 50%;
		transform: translateY(-50%) translateX(-50%) ;
		border-bottom-color: $white;
	}
}

.popover--bottom-right {
	bottom: 0;
	right: 0;
	transform: translateY(100%) translateX(0%) scale(0);

	&:after {
		content: '';
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-style: solid;
		border-color: rgba($white, 0);
		border-width: 25px;
		top: 0;
		right: $spacer-sm-double;
		transform: translateY(-100%);
		border-bottom-color: $white;
	}
}

.popover__inner {
	padding: $spacer-sm-double;
}

.popover__controlls {
	display: flex;
	opacity: 1;
	transition: $transition-short opacity;
}

.popover__controlls--hidden {
	visibility: hidden;
	opacity: 0;
}

.popover__controlls--advanced {

}

.popover__upload {
	width: 100px;
}
