.quick-search {
	width: 100%;
	margin: $spacer-half auto 0 auto;
	display: flex;
	flex-flow: row nowrap;

	@include small {
		width: 80%;
	}
}

.quick-search__input {
	flex-basis: 70%;
	padding: $spacer-sm;

	@include small {
		flex-basis: 80%;
	}
}

.quick-search__submit {
	margin-left: $spacer-sm-half;
	flex-basis: calc(30% - #{$spacer-sm-half});

	@include small {
		flex-basis: calc(20% - #{$spacer-sm-half});
	}
}