.section {
	padding: $spacer-section 0;
}

.section--grey {
	background: $senary-color;
}

.section--white {
	background: $white;
}

.section--dark-blue {
	background: $secondary-color;
}

.section--dark-blue-different {
	background: $octonary-color;
}

.section--member-cards {
	padding-bottom: ($spacer-section - $spacer);
}

.section--vote-white {
	background: $white;
}

.section--vote-bordered {
	padding: 0;
	position: relative;

	&:before,
	&:after {
		content: '';
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		background-size: cover;
		padding-bottom: 10%;
	}

	&:before {
		background-image: url('/default_images/vote/default-border-top.svg');
		top: 0;
		transform: translateY(-99%);
		background-position: bottom center;
	}
	&:after {
		background-image: url('/default_images/vote/default-border-bottom.svg');
		bottom: 0;
		transform: translateY(99%);
		background-position: top center;
	}
}

.section--vote-detail-bordered {
	padding: $spacer;
	position: relative;
	&:before {
		content: '';
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		background-size: cover;
		padding-bottom: 5%;
		background-image: url('/default_images/vote/default-border-top-detail.svg');
		top: 0;
		transform: translateY(-98%);
		background-position: bottom center;
	}
}

.section--vote-bg {
	background: url('/default_images/vote/default-footer-bg.jpg');
	background-size: cover;
	background-position: center center;
	padding-top: calc(10% + #{$spacer-double});
	min-height: 960px;
}

.section--vote-dark {
	background: $color-jet;
}

.section--vote-wizard {
	min-height: 800px;
}