.share-list {
	list-style: none;
}

.share-list__link {
	@include font();
	display: flex;
	padding: $primary-spacer $quaternary-spacer $primary-spacer $octonary-spacer;
	color: $white;
	text-decoration: none;
	flex-grow: 1;
	transition: .3s background-color, .2s border;

	&:hover,
	&:active,
	&:focus {
		color: $white;
	}
}

.share-list__link--facebook {
	background-color: $facebook-color-contrast;
	border-left: 1px solid rgba(0,0,0,0);

	&:hover {
		border-left: 1px solid $facebook-color-contrast;
		background-color: $facebook-color;
		transition: .3s background-color, .2s border;
	}
}

.share-list__link--twitter {
	background-color: $twitter-color-contrast;
	border-left: 1px solid rgba(0,0,0,0);

	&:hover {
		border-left: 1px solid $twitter-color-contrast;
		background-color: $twitter-color;
		transition: .3s background-color, .2s border;
	}
}

.share-list__item {
	display: flex;

	margin-bottom: $tertiary-spacer;
}

.share-list__item--horizontal {
	width: 100%;
	display: inline-flex;
	@media (min-width: 400px) {
		width: 75%;
	}
}

.share-list__icon {
	display: flex;
	flex-basis: 20%;
	align-items: center;
	justify-content: center;
	color: $white;
}

.share-list__icon--facebook {
	background: $facebook-color;

}

.share-list__icon--twitter {
	background: $twitter-color;
}