.sponsor-ribbon {
	display: flex;
	background: $quaternary-color;
	align-items: center;
	height: $sponsor-ribbon-height;
}

.sponsor-ribbon__wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 499;
	width: 100%;
}

.sponsor-ribbon__powered-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-left: auto;
}

.sponsor-ribbon__hint {
	display: none;
	@include font($quinary-font-size);
	color: $secondary-color;
	align-items: center;

	@include small {
		display: flex;
	}
}

.sponsor-ribbon__powered-label {
	display: none;
	@include font($quinary-font-size);
	color: $secondary-danger-color;
	margin-right: 5px;

	@include small {
		display: block;
	}
}

.sponsor-ribbon__link {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	text-decoration: none;
}

.sponsor-ribbon__hint-link {
	color: $secondary-color;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		color: $octonary-color;
		text-decoration: none;
	}
}