.startpage-slider {
	background: $color-jet;
}

.startpage-slider__slide {
	position: relative;
	width: 100%;
	height: 100%;
	@include small {
		height: 450px;
	}
}

.startpage-slider__image {
	width: 100%;
	background-size: 100% auto;
	background-position: center center;
	padding-bottom: 50%;
	@include small {
		height: 100%;
		background-size: cover;
		background-position: center right;
		padding-bottom: 0;
	}
}

.startpage-slider__image--verein-des-monats {
	background-image: url('/default_images/startpage_slider/vl-header-519.jpg');
	@include small {
		background-image: url('/default_images/startpage_slider/verein-des-monats_slider_1920x450.jpg');
	}
}

.startpage-slider__caption {
	width: 100%;
	text-align: center;
	@include container;
	padding-top: $spacer-sm-double;
	padding-bottom: $spacer-sm-double;
	@include small {
		padding: 0;
		text-align: left;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}

.startpage-slider__title,
.startpage-slider__desc {
	color: $white;
	@include small {
		color: $secondary-color;
	}
}

.startpage-slider__title {
	@include font($fs-headline, 700, uppercase, $secondary-font-family);
	margin-bottom: $spacer-sm;
	@include small {
		@include font($decimal-font-size, 700, uppercase, $secondary-font-family);
	}

}

.startpage-slider__desc {
	@include font($fs-text-lg, 400, none, $primary-font-family);
	margin-bottom: $spacer-sm-double;
	width: 100%;
	@include small {
		@include font($fs-headline, 400, none, $primary-font-family);
		max-width: 640px;
	}
}

.startpage-slider__sponsore-links {
	background-image: url('/default_images/startpage_slider/logos-slider-xsmall.png');
	width: 248px;
	height: 116px;
	margin-top: $spacer-sm-double;
	margin-left: auto;
	margin-right: auto;
	@include small {
		width: 506px;
		height: 53px;
		margin-left: 0;
		margin-right: 0;
		background-image: url('/default_images/startpage_slider/logos-slider-large.png');
	}
}

.startpage-slider__backward-title,
.startpage-slider__backward-desc {
	color: $white;
	@include small {
		color: $secondary-color;
	}
}

.startpage-slider__backward-desc {
	margin-bottom: $spacer;
}