.color-tabs {
	font-family: $secondary-font-family;
	text-transform: uppercase;
}

.color-tabs__tab {
	display: inline-block;
	padding: $spacer-sm;
	background: $undecimal-color;
	font-size: $fs-headline-lg;

	&.active {
		background: $octonary-color;

		.color-tabs__link {
			&:link,
			&:visited,
			&:active,
			&:focus {
				color: $senary-color;
			}
		}
	}
}

.color-tabs__tab--search {
	&.active {
		background: $white;
		color: $secondary-color;

		.color-tabs__link {
			&:link,
			&:visited,
			&:active,
			&:focus {
				color: $secondary-color;
			}
		}
	}
}

.color-tabs__link {
	&:link,
	&:visited,
	&:active,
	&:focus {
		text-decoration: none;
		color: $medium-gray;
	}
}

.tabs--large {

}

.tabs__pre-container {
	position: relative;
}

.tabs__container {
	position: static;
	margin-right: auto;
	margin-left: auto;
	padding-left: $spacer-half;
	padding-right: $spacer-half;
	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}
	@media (min-width: $screen-md-min) {
		width: $container-md;
	}
	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}
}

.tabs__tab {
	z-index: 2;
	display: inline-block;

	&:first-child {
		margin-right: $spacer-sm;
	}
}

.tabs--user-profile {

	&:after {
		content: '';
		height: 2px;
		background: $undecimal-color;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		transform: translateY(-100%);
		z-index: 1;
	}

	.tabs__link {
		padding: $spacer-sm-half $spacer-sm;
		background: $undecimal-color;
		color: $medium-gray;
		text-decoration: none;
		transition: $transition-short background, $transition-short color;
		margin: 0;

		&.active,
		&:active,
		&:focus,
		&:hover {
			background: $primary-color;
			color: $senary-color;
		}
	}
}

.tabs {
	list-style: none;
	display: flex;
}

.tabs__item {
	@include font($octonary-font-size, 400, uppercase);
	display: flex;
	background: $undecimal-color;
	color: $secondary-color;
	padding: $octonary-spacer;
	transition: .2s background-color ease, .2s color ease;

	&:hover,
	&.active {
		background: $primary-color;
		transition: .2s background-color ease, .2s color ease;
	}
}

.tabs__link {
	color: $secondary-color;
	padding: $octonary-spacer;
	margin: $octonary-spacer * (-1);
	text-decoration: none;
}

.tabs__item--spaced {
	margin-right: $spacer-sm-half;
}