.text-block {
	width: 100%;
	margin-bottom: $spacer-lg;
	font-size: $primary-font-size;
	line-height: 1.4em;

	p {
		@extend .text-block;
		margin-bottom: $spacer-sm-double;
	}
}

.text-block--compressed {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.text-block--thin {
	font-weight: 300;
}

.text-block__link {
	color: inherit;
	transition: $transition-short color;

	&:hover {
		color: $primary-color;
	}
}

.text-block--smaller-spacing {
	margin-bottom: $spacer;
}

.text-block--align-right {
	text-align: right;
}

.text-block--align-center {
	text-align: center;
}

.text-block--mini {
	font-size: 14px;
	font-weight: 300;
}