.thumbnail__list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.thumbnail__container {
	position: relative;
	width: calc(50% - #{$octonary-spacer});
	height: 170px;
	overflow: hidden;
	border: 1px dashed $medium-gray;
	display: flex;
	align-items: center;
	margin-bottom: $senary-spacer;

	// background and close icon
	&:before,
	&:after {
		position: absolute;
		opacity: 0;
		transition: 0.2s opacity, 0.2s background;
	}

	// background
	&:before {
		content: '';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba($secondary-color, 0.7);
	}

	// close icon
	&:after {
		font-family: FontAwesome;
		content: '\f1f8';
		font-size: 50px;
		color: $white;
		left: 50%;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
	}
}

.thumbnail__container--deleteable {
	// Hover
	&:hover {
		cursor: pointer;

		&:before,
		&:after {
			opacity: 1;
		}
	}
}

.thumbnail__image {
	width: 100%;
	height: auto;
	transition: 0.2s opacity;
}

.thumbnail__switch {
	&:checked + .thumbnail__label {
		&:before,
		&:after {
			opacity: 1;
		}

		&:before {
			background: rgba($danger-color, 0.7);
		}
	}
}

.thumbnail__switch {
	display: none;
}

//.thumbnail__label {
//	&:before {
//		content: '';
//		position: absolute;
//		top: 0;
//		left: 0;
//		right: 0;
//		bottom: 0;
//		border: 0 solid $danger-color;
//		transition: 0.2s border;
//	}
//}
//
//.thumbnail__switch {
//	&:checked + .thumbnail__label {
//		&:before {
//			border: 10px solid $danger-color;
//		}
//
//		.thumbnail__image {
//			filter: grayscale(100%);
//		}
//	}
//}