.to-top {
	position: fixed;
	right: $spacer;
	bottom: $spacer;
	background: $secondary-color;
	color: $primary-color;
	padding: $spacer-sm $spacer-sm $spacer-half $spacer-sm;
	font-size: $fs-headline;
	z-index: 999;
	cursor: pointer;
	transition: $transition-short background, $transition-short color, $transition-short transform, $transition-short opacity, $transition-short visibility;
	opacity: 1;
	visibility: visible;

	&:hover {
		background: $primary-color;
		color: $secondary-color;
	}
}

.to-top--hidden {
	transform: translateY(-25%);
	opacity: 0;
	visibility: hidden;
}