@include xxsmall-down {
	@for $i from $max-columns through 1 {
		.col-xxs-#{$i} {
			width: 100% * ($i / $max-columns);
		}
		.col-xxs-offset-#{$i} {
			margin-left: 100% * ($i / $max-columns);
		}
	}
}

@include xsmall-down {
	.container--full-width {
		width: 100%;
	}
}