* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {
	font-family: $primary-font-family;
	font-weight: 400;
	color: $secondary-color;
	background-color: $senary-color;
	-webkit-font-smoothing: antialiased;
	height: 100%;
}

body {
	height: calc(100% - 123px);

	&:after {
		content: "xxs";
		display: none;

		@include xsmall {
			content: "xs";
		}

		@include small {
			content: "sm";
		}

		@include medium {
			content: "md";
		}

		@include large {
			content: "lg";
		}
	}
}

p {
	font-size: $septenary-font-size;
	line-height: $septenary-line-height;
}

strong {
	font-weight: 700;
}

a {
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		color: inherit;
	}
}

h1 {

}

h2 {
}

h3 {
	@include font($secondary-font-size, 500);
	margin-bottom: $primary-spacer;
}

h4 {
	@include font($senary-font-size, 500);
	margin-bottom: $primary-spacer;
}

h5 {
}

h6 {
	@include font($primary-font-size, 500);
	margin-bottom: $primary-spacer;
}