// colors
$primary-color: #29c7ab;
$secondary-color: #00323c;
$tertiary-color: #40757b;
$quaternary-color: #fedf00;
$quinary-color: #28ceb8;
$senary-color: #ecf0f1;
$septenary-color: #27b89e;
$octonary-color: #093842;
$nonary-color: #7fc412;
$decimal-color: #11A7C1;
$undecimal-color: #cfd9dc;
$undenary-color: #6aa40f;

$danger-color: #cd1028;
$secondary-danger-color: #ee2922;
$success-color: #2eb86a;
$warning-color: #eebd00;

$white: white;
$light-gray: #e6e7e9;
$mediumlight-gray: #8f9c9f;
$medium-gray: #555555;


$medium-blue: #337ab7;

$medium-red: #e84c3d;

// vote
$color-jet: #333333;
$color-light-gray: #d0d0d0;
$color-platinum: #e6e6e6;

//custom grid
$max-columns: 12;

// custom breakpoints
$screen-xxs-max: 519px;
$screen-xs-min: 520px;

// fonts
$primary-font-family: 'Roboto', sans-serif;
$primary-font-regular: 'Roboto', sans-serif;
$secondary-font-family: 'Arvo', serif;

// icons
$primary-icon-family: 'FontAwesome', sans-serif;

// font-size

$fs-basic: 16px;

$fs-headline-lg: 36px;
$fs-headline-lg-alternate: 32px;
$fs-headline-lg-half: 18px;
$fs-headline: 24px;
$fs-headline-alternate: 22px;
$fs-headline-sm: $fs-basic; // alias
$fs-text-lg: 18px;
$fs-text: $fs-basic; // alias
$fs-text-sm: 14px;

$primary-font-size: 16px;
$secondary-font-size: $fs-headline;
$tertiary-font-size: $fs-headline-lg;
$quaternary-font-size: 56px;
$quinary-font-size: 11px;
$senary-font-size: $fs-text-lg;
$septenary-font-size: $fs-text-sm;
$octonary-font-size: $fs-text-sm;
$nonary-font-size: $fs-headline-lg-alternate;
$decimal-font-size: 40px;
$undecimal-font-size: 22px;

$tertiary-smaller-font-size: $fs-headline;
$quaternary-smaller-font-size: 40px;
$decimal-smaller-font-size: $fs-headline-lg-alternate;


// line-height
$primary-line-height: 20px;
$secondary-line-height: 28px;
$tertiary-line-height: 40px;
$quaternary-line-height: 60px;
$quinary-line-height: 15px;
$senary-line-height: 22px;
$septenary-line-height: 18px;
$octonary-line-height: 18px;
$nonary-line-height: 36px;
$decimal-line-height: 44px;
$undecimal-line-height: 26px;

// transitions

$transition-short: 0.2s;
$transition: 0.4s;
$transition-long: 0.8s;

/*
// font-size
$primary-font-size: remCalc(16);
$secondary-font-size: remCalc(24);
$tertiary-font-size: remCalc(36);
$quaternary-font-size: remCalc(56);
$quinary-font-size: remCalc(11);
$senary-font-size: remCalc(18);
$septenary-font-size: remCalc(14);
$octonary-font-size: remCalc(14);
$nonary-font-size: remCalc(32);
$decimal-font-size: remCalc(40);
$undecimal-font-size: remCalc(22);

$tertiary-smaller-font-size: remCalc(24);
$quaternary-smaller-font-size: remCalc(40);
$decimal-smaller-font-size: remCalc(32);


// line-height
$primary-line-height: remCalc(20);
$secondary-line-height: remCalc(28);
$tertiary-line-height: remCalc(40);
$quaternary-line-height: remCalc(60);
$quinary-line-height: remCalc(15);
$senary-line-height: remCalc(22);
$septenary-line-height: remCalc(18);
$octonary-line-height: remCalc(18);
$nonary-line-height: remCalc(36);
$decimal-line-height: remCalc(44);
$undecimal-line-height: remCalc(26);
*/

// spacer (10px, 30px, 50px)
$spacer-sm-half: 5px;
$spacer-sm: 10px;
$spacer-half: 15px;
$spacer-sm-double: 20px;
$spacer-lg-half: 25px;
$spacer: 30px;
$spacer-double: 60px;
$spacer-lg: 50px;
$spacer-lg-double: 100px;

$spacer-section: 90px;



// spacings
$primary-spacer: $spacer-sm-double;
$tertiary-spacer: $spacer-sm;
$quaternary-spacer: $spacer-lg;
$senary-spacer: $spacer;
$octonary-spacer: $spacer-half;
$nonary-spacer: $spacer-lg-half;
$secondary-spacer: 90px;
$septenary-spacer: 40px;
$decimal-spacer: 80px;
$undecimal-spacer: 70px;




// layout
$gutter: 15px;
$major-width: 61.8%;
$minor-width: 38.2%;

$container-width: 100%;
$container-width-small: 750px;
$container-width-medium: 970px;
$container-width-large: 1170px;

$sponsor-ribbon-height: 45px;
$header-nav-height: 78px;

// misc
$facebook-color: #4569a5;
$facebook-color-contrast: #3d5e94;

$twitter-color: #75BEF5;
$twitter-color-contrast: #55ACEE;