%vote-win-teaser__image {
  background-size: cover;
  background-position: center center;
  min-height: 230px;
  position: relative;
  margin-bottom: 30px;
}
.vote-win-teaser__image--price-1 {
   @extend %vote-win-teaser__image;
  background: url('/default_images/vote/win-teaser_images/vdm-gewinn-abc-seminar.jpg');
 }

.vote-win-teaser__image--price-2 {
  @extend %vote-win-teaser__image;
  background: url('/default_images/vote/win-teaser_images/vdm-gewinne-bargeld.jpg');
}
.vote-win-teaser__image--price-3 {
  @extend %vote-win-teaser__image;
  background: url('/default_images/vote/win-teaser_images/vdm-gewinn-spiel-sporttruhe-fortuna.jpg');
}

.vote-win-teaser__badge {
  position: absolute;
  left: -3px;
  bottom: 0px;
  min-height: 75px;
}

.vote-win-teaser__claim {
  font-size: $fs-text-sm;
  background-color: $quaternary-color;
  display: inline-block;
  text-transform: uppercase;
  padding: 1px 10px;

}

.vote-win-teaser__claim--highlight {
  @extend .vote-win-teaser__claim;
  background-color: $primary-color;


}

.vote-win-teaser__headline {
  font-size: $fs-text-lg;
  color: $white;
  background-color: $secondary-color;
  display: inline-block;
  text-transform: uppercase;
  padding: 4px 10px;
  margin-top: 5px;
  width: calc(100% - 30px);
  min-height: 44px;

}


