.vote-detail-header {
	position: relative;
	background-size: cover;
	background-position: center 80%;
	background-image: url('/default_images/vote/default-footer-bg.jpg');
	background-repeat: no-repeat;
	height: auto;
	padding-top: 50%;
	padding-bottom: 5%;


	@include xsmall {

	}

	@include small {
		height: 550px;
		padding-top: 0;
		padding-bottom: 0;
	}

	@include medium {
		height: 400px;
	}

	@include large {
	}
}


.vote-detail-header__caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	flex-flow: column wrap;
}

.vote-detail-header__headline {
	font-family: 'Arvo', 'sans-serif';
	font-size: $fs-headline;
	font-weight: 700;
	text-transform: uppercase;
	color: $secondary-color;
	@include xsmall {
		font-size: $decimal-font-size;
	}
	@include medium {
		max-width: 640px;
	}
}

.vote-detail-header__subline {
	display: block;
	margin-top: $spacer-sm;
	font-size: $primary-font-size;
	font-weight: 400;
	color: $secondary-color;
	@include xsmall {
		font-size: $fs-headline;
	}
}

.vote-detail-headline-wrapper {
	margin-bottom: 30px;
}

.tiny-headline {
	display: block;
	text-align: center;
	&:after {
		content: '';
		display: block;
		height: 6px;
		width: 30px;
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 20px;
		background: $primary-color;
	}
}