.vote-footnote {
	font-weight: 400;
	width: 100%;
	padding: 30px 0;
	margin-top: 60px;
	text-align: right;
	border-top: 1px solid $secondary-color;
}


%vote-sponsor-header {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 280px;
  @include xsmall {
    height: 400px;

  }


}

.vote-sponsor-header--fortuna {
  @extend %vote-sponsor-header;
  background-image: url('/default_images/vote/sponsores/header-fortuna.jpg');
}

.vote-sponsor-header--sparda {
	@extend %vote-sponsor-header;
	background-image: url('/default_images/vote/sponsores/sparda-bank.jpg');
}

.vote-sponsor-header--rpr1 {
	@extend %vote-sponsor-header;
	background-image: url('/default_images/vote/default-footer-bg.jpg');
}

.vote-sponsor-header--lsb {
	@extend %vote-sponsor-header;
	background-image: url('/default_images/vote/default-footer-bg.jpg');
}

.vote-sponsor-logo-detail {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 80px;
  @include small {
    width: 140px;

  }
}

.vote-sponsor-ul li {
  margin-bottom: 8px;
  line-height: 22px;
}

.vote-footnote--no-border {
	border-top: 0;
}

.vote-footnote--no-spacing {
	margin-top: 0;
	padding: 0;

}

.pos-rel {
  position: relative;
}

.vote-detail__btn-wrapper {
  margin-top: 30px;

  .btn {
    margin-bottom: $spacer-sm;
    @include medium-down {
      width: 100%;
    }

  }
}

.vote-winner__content {
    .vote-winner__headline {
        @include font($undecimal-font-size, 700);
        margin-bottom: $primary-spacer;

    }

    p {
        @include font($primary-font-size, 300);
        line-height: $senary-line-height;
        margin-bottom: $primary-spacer;
    }
}