.vote-header {
	position: relative;
	background-size: 100% auto;
	background-position: top center;
	background-image: url('/default_images/vote/header/vl-header-519.jpg');
	background-repeat: no-repeat;
	background-color: $color-jet;
	height: auto;
	padding-top: 50%;
	padding-bottom: 10%;

	@include xsmall {
		background-image: url('/default_images/vote/header/vl-header-749.jpg');

	}

	@include small {
		background-position: center;
		background-size: cover;
		height: 550px;
		padding-top: 0;
		padding-bottom: 0;
		background-image: url('/default_images/vote/header/vl-header-969.jpg');
	}

	@include medium {
		height: 650px;
		background-image: url('/default_images/vote/header/vl-header-1169.jpg');
	}

	@include large {
		background-image: url('/default_images/vote/header/vl-header-1920.jpg');
	}
}

.vote-header__caption {
	margin-top: $spacer-sm-double;
	margin-bottom: $spacer-sm-double;
	@include small {
		position: absolute;
		top: 20%;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.vote-header__headline {
	font-family: 'Arvo', serif;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 4px;
	text-align: center;
	color: $white;
	@include xsmall {
		font-size: $decimal-font-size;
	}
	@include small {
		color: $secondary-color;
		text-align: left;
	}
}

.vote-header__teamname {
	padding-top: 0;
	padding-bottom: 0;
	font-size: 18px;
}

.vote-header__subline {
	font-size: $fs-text-lg;
	display: block;
	margin-bottom: $spacer;
	font-weight: 400;
	text-align: center;
	color: $white;
	@include xsmall {
		font-size: $fs-headline;
	}
	@include small {
		color: $secondary-color;
		text-align: left;
		margin-bottom: $spacer-double;
	}
}

.vote-header__headline--slider,
.vote-header__subline--slider {
	color: $secondary-color;
}

.vote-header__sponsors-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	//padding: $spacer-sm-double;

	@include xsmall {

		//flex-flow: row nowrap;
	}
	@include small {
		background: transparent;
		justify-content: flex-start;
		//padding: 0;
	}
}

.vote-header__logo-link {
	text-align: center;
	margin-bottom: $spacer-sm;
	margin-right: $spacer-sm;

	&:last-of-type {
		margin-right: 0;
	}

}
