.vote-detail-sidebar-wrapper {
	@include medium-down {
		margin: auto;
		float: none;
	}
}

.vote-detail-sidebar {
	@include medium {
		margin-top: -250px;
	}
}

.vote-detail-sidebar__img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto 1px auto;
}

.vote-detail-sidebar__box {
	padding: $spacer;
	background: $senary-color;
	margin-top: $spacer-sm-double;
	margin-bottom: 1px;
}

.vote-detail-sidebar__meta-item {
	display: block;
	line-height: 1.3em;
}

.vote-detail-sidebar__meta-item--geo {
	position: relative;
	margin-top: $spacer;
	margin-left: 15px;

	&:before {
		font-family: 'FontAwesome', sans-serif;
		content: '\f041';
		position: absolute;
		left: 0;
		top: 0;
		transform: translateX(-100%);
		width: 15px;
	}
}