.vote-teaser {
	width: 100%;
	margin-bottom: $spacer;
	border-left: 1px solid $color-platinum;
	border-right: 1px solid $color-platinum;
	border-top: 1px solid $color-platinum;
}

.vote-teaser__img {
	position: relative;
	display: block;
	//height: 260px;
	padding-bottom: 100%;
	background-repeat: no-repeat;
	background-position: center;
	//background-size: cover;
	color: $white;
}

.vote-teaser__badge {
	position: absolute;
	top: 38px;
	right: -3px;
	background: $primary-color;
	color: $white;
	text-transform: uppercase;
	text-align: center;
	font-size: $fs-text-sm;
	padding: 2px $spacer-half;
	font-weight: 700;
}

.vote-teaser__content-wrapper {
	position: relative;
	height: 120px;
	border-top: 1px solid $color-platinum;
	border-bottom: 1px solid $color-platinum;
	background-color: #f2f2f2;
}

.vote-teaser__content {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	padding: $spacer-sm-double;
	text-align: center;
	font-size: $fs-text-sm;
}

.vote-teaser__project-name {
	font-weight: 400;
	margin-bottom: $spacer-sm;
	color: $primary-color;
}

.vote-teaser__club-details {
	font-weight: 700;
	text-transform: uppercase;
	color: $secondary-color;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		color: $primary-color;
	}
}

.vote-addthis {
	text-align: center;
}

.vote-addthis__text {
	font-size: $fs-headline-lg-half;
	font-weight: 700;
	margin: 60px 0 30px 0;
}

