.vote-placement {
	border-top: 1px solid $medium-gray;
	color: $white;
	&:last-of-type {
		border-bottom: 1px solid $medium-gray;
	}
	@include small {
		align-items: center;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
}

.vote-placement__content {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	& + .btn {
		max-width: calc(100% - 30px);
		margin-left: 30px;
		margin-bottom: $spacer-sm-double;
	}
	@include small {
		& + .btn {
			max-width: 120px;
			margin-left: 0;
			margin-bottom: 0;
		}
	}
}

.vote-placement__num {
	font-size: $fs-headline-lg-half;
	font-weight: 700;
	width: 100%;
	max-width: 30px;
	min-width: 30px;
}

.vote-placement__img {
	width: 68px;
	height: auto;
	margin: $spacer-sm-double 0 $spacer-sm 0;
	@include small {
		margin: $spacer-sm 0;
	}
}

.vote-placement__club {
	color: $white;
	text-transform: uppercase;
	font-size: $fs-basic;
	font-weight: 700;
	flex-grow: 1;
	margin-right: $spacer-sm-double;
	margin-left: $spacer-sm-double;
	text-decoration: none;

	&:hover,
	&:active, 
	&:focus {
		color: $primary-color;
		text-decoration: none;
	}
}