.container-flex {
	display: flex;
	width: $container-width;
	flex-basis: $container-width;
	flex-flow: row wrap;
	flex-grow: 0;
	margin: 0 auto;
	padding: 0 $octonary-spacer;

	@include small {
		flex-basis: $container-width-small;
		width: $container-width-small;
	}

	@include medium {
		flex-basis: $container-width-medium;
		width: $container-width-medium;
	}

	@include large {
		flex-basis: $container-width-large;
		width: $container-width-large;
	}
}

.container-flex--wrap-on-mobile-only {
	flex-flow: row wrap;

	@include medium {
		flex-flow: row nowrap;
	}
}

.headline--bordered {
    @include headline($quaternary-font-size, $primary-color, true);
}

.headline {
    &--smaller-width {
        max-width: 400px;
        margin: 0 auto;
    }

	&--centered {
		text-align: center;
	}

	&-primary {
		@include headline($quaternary-font-size);

		&--inverted {
			@include headline($quaternary-font-size, $secondary-color);
		}

		&--borderd {
			@include headline($quaternary-font-size, $primary-color, true);
		}

		&--main {
			font-size: 10vw;

			@include xsmall {
				font-size: $quaternary-smaller-font-size;
			}

			@include medium {
				font-size: $quaternary-font-size;
			}
		}
	}

	&-secondary {
		@include headline($tertiary-font-size);

		@include xsmall {
			font-size: $tertiary-font-size;
		}

		&--inverted {
			@include headline($tertiary-font-size, $secondary-color);

			@include xsmall {
				font-size: $tertiary-font-size;
			}
		}

		&--bordered {
			@include headline($tertiary-font-size, $secondary-color, true);

			@include xsmall {
				font-size: $tertiary-font-size;
			}
		}

		&--main {
			font-size: 6vw;

			@include xsmall {
				font-size: $tertiary-font-size;
			}
		}
	}

	&-tertiary {
		@include headline($tertiary-font-size);

		@include xsmall {
			font-size: $tertiary-font-size;
		}
	}

	&-intro {
		margin-bottom: $tertiary-spacer;
		color: $primary-color;
	}

	&-desc {
		margin-bottom: $quaternary-spacer;
		font-weight: 400;
		font-size: $primary-font-size;
		line-height: $primary-line-height;
		margin-top: -$senary-spacer;
	}
}

.sub-headline {
	@include font($tertiary-font-size, 500, uppercase);
	color: $primary-color;
}

.sub-headline--bordered {
	&:after {
		content: " ";
		display: block;
		height: 2px;
		width: 30px;
		margin: 0 auto;
		margin-bottom: $quaternary-spacer;
		background: $primary-color;
		margin-top: $primary-spacer;
	}
}

.center-block {
	margin-left: auto;
	margin-right: auto;
}

.highlight {
	color: $primary-color;
}

.flash-message {
	width: 100%;
	text-align: center;
	padding: $senary-spacer;
	color: $white;
	position: fixed;
	top: 123px;
	left: 0;
	right: 0;
	z-index: 20;
}

.flash-message--info {
	background: $medium-blue;
	
	a {
		color: $white;
	}
}

.flash-message--success {
	background: $success-color;
}

.flash-message--error {
	background: $danger-color;
}

.flash-message--warning {
	background: $warning-color;
	color: $secondary-color;
}

.flash-message__close {
	color: inherit;
}

.page {
	position: relative;
	margin-top: 123px;
	min-height: 100%;
	padding-bottom: 54px;
}

.pager-control__next,
.pager-control__previous {
	cursor: pointer;
	padding: $octonary-spacer;
}

.pager-control__label {
	padding: $primary-spacer 0;
}

.pager-control--disabled {
	color: $light-gray;
	cursor: not-allowed;
}

.loader__wrapper {
	//display: none;
	position: relative;
	background: rgba(0, 0, 0, 0);
	height: $senary-spacer;
	width: $senary-spacer;
	margin-top: $primary-spacer;
	margin-bottom: $primary-spacer;
}

.loader__wrapper--centered {
	margin-left: auto;
	margin-right: auto;
}

.loader--loading {
	animation: loader-loading 2s ease-out infinite;
}

.loader {
	position: absolute;
	background: rgba(0, 0, 0, 0);
	height: $senary-spacer;
	width: $senary-spacer;
	border-radius: $senary-spacer;
	opacity: 0;

	&:nth-of-type(1) {
		border: 2px solid $primary-color;
	}

	&:nth-of-type(2) {
		border: 2px solid $white;
		animation-delay: 1s;
	}
}

@keyframes loader-loading {
	0% {
		transform: scale(.25);
		opacity: 0;
	}

	33% {
		opacity: 1;
	}

	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}

.section-spacer {
	margin-top: $secondary-spacer;
}

.section-spacer-medium {
	margin-top: $secondary-spacer / 2;
}

.section-spacer-medium-bottom {
	margin-bottom: $secondary-spacer / 2;
}

.section__content {
	margin-top: $senary-spacer;
}

.section__content-text {
	margin-bottom: $tertiary-spacer;
}

.section__content-list {
	list-style: disc;
	margin-bottom: $tertiary-spacer;
	font-size: $septenary-font-size;
	line-height: $septenary-line-height;
}

.section__content-list__item--terms {
	margin-left: $primary-spacer;
}

.section__content--centered {
	text-align: center;
}

.icon-space {
	padding-right: 5px;
}

.hidden {
	display: none;
}

.hidden-input {
	visibility: hidden;
}

.text-right {
	text-align: right;
}

.responsive-image {
	width: 100%;
	height: auto;
}