img#lsb-rlp-hoch-logo {
  width: 154px;
}
.podcast-icon {
  margin: 0 auto 8px auto;
  display: block;
  background: url(/static_images/podcast.svg) 0 0 no-repeat;
  width: 38px;
  height: 31px;
  fill: red;
}
.menu__item a:hover {
  .podcast-icon {
    background: url(/static_images/podcast-hover.svg) 0 0 no-repeat;
  }
}

.navi-wrapper.smaller .menu__item span.podcast-icon {
  display: none;
}

@media (max-width: 992px) and (min-width: 320px) {
 .podcast-icon {
   display: inline-block;
   margin: 0px 10px 0 0;
   vertical-align: middle;
 }
  .dl-menu a:hover {
    .podcast-icon {
      background: url(/static_images/podcast-hover.svg) 0 0;
      background-repeat: no-repeat;
    }
  }
}

// propose-song

.propose-song-header {
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url(/default_images/campaign/header_aktion_vereinshit.png);
  background-repeat: no-repeat;
  background-color: #333;
  height: auto;
  padding-top: 50%;
  padding-bottom: 10%;
}

span.twitter-typeahead {
  width: 100%;
}

@media (min-width: 768px) {
  .propose-song-header {
    background-position: 50%;
    background-size: cover;
    height: 550px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 992px) {
  .propose-song-header {
    height: 550px;
  }
}

.padding-top-30px {
  padding-top: 30px;
}

//Ads Banner Vertical News
.news-detail .container {
  position: relative;
}
.ads-vertical {
  max-width: 180px;
  position: absolute;
  right: -175px;
  top: 0;
}
.tablet-ads-vertical {
  display: none;
}
@media (max-width: 1530px){
  .ads-vertical {
    display: none;
  }
  .tablet-ads-vertical {
    margin: 30px auto;
    display: block;
    position: relative;
    top: auto;
    right: auto;
  }
}

// no padding for left side at stream page

#user-stream {
  .user-stream__item {
    margin: 0;
    padding: 0;
  }
  .user-stream__data_1 {
    margin-left: 50px;
    .stream-news__date {
      margin-left: -50px;
      background: #fff;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .campaign-image {
    padding-bottom: 30px;
  }
}

@media (max-width: 992px) {
  #user-stream.club-post__wrapper::before {
    content: " ";
    display: block;
    background-color: #c2bb2a;
    width: 3px;
    height: 99.2%;
    position: absolute;
    left: 30px;
  }
}

// review-average
.review-average {
  padding: 10px 0;
  .star {
    font-size: 30px;
    color: #e7e133;;
  }
  .star.no-active {
    color: rgba(0, 0, 0, 0.4);
  }
}
.review-list {
  padding: 50px 0;
  margin: 50px 0;
  border-top: 1px solid grey;
  padding-bottom: 0;
  margin-bottom: 50px;
  .review {
    position: relative;
    background: #29c7ab;
    padding: 30px 20px;
    border-radius: 10px;
    color: white;
    margin: 50px 0 10px 0;
    .row {
      position: relative;
    }
    .delete-rating {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      button {
        background: transparent;
        border: none;
        cursor: pointer;
      }
    }
    .fa-trash {
      font-size: 30px;
    }
    .star {
      font-size: 30px;
      color: #eae234;
    }
    .star.no-active {
      color: rgba(0, 0, 0, 0.4);
    }
    .detail {
      .comment {
        margin-top: 20px;
      }
      .date {
        margin-top: 10px;
        text-align: right;
      }
    }
    span.line {
      position: absolute;
      width: 1px;
      top: 0;
      right: 200px;
      background: #e0e0e0;
      height: 100%;
    }
    @media (max-width: 1200px) {
      span.line {
        display: none;
      }
    }

    .info {
      text-align: center;
      .profile-avatar__image {
        width: 100px;
        display: inline-block;
        border-radius: 100px;
      }
      .name {
        margin: 10px 0;
        display: block;
      }
    }
  }
  .review:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-top: 30px solid #29c7ab;
    border-bottom: 0 solid transparent;
    border-right: 10px solid transparent;
    bottom: -30px;
    right: 80px;
  }
  .review.child {
    background: #dad8d8;
    color: #00323c;
    .detail {
      .comment {
        margin-top: 10px;
      }
      .date {
        text-align: left;
      }
    }
  }
  .review.child:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-top: 30px solid #dad8d8;
    border-bottom: 0 solid transparent;
    border-right: 30px solid transparent;
    bottom: -30px;
    left: 80px;
  }
  .action {
    text-align: center;
    .reply {
      cursor: pointer;
    }
    .reply.active {
      color: grey;
    }
    form {
      display: inline-block;
      button {
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        font-family: inherit;
        font-size: 100%;
        color: #00323c;
      }
    }
  }
}

.review-list.no-login {
  padding: 0;
  margin: 0;
  border: none;
  .review.child {
    .detail {
      line-height: 1.4;
      strong.head {
        margin-bottom: 10px;
        display: block;
      }
    }
  }
  .review.child:before {
    display: none;
  }
}

#answer-form {
  margin-top: 50px;
}

#request-admin {
  border: 1px solid #e1e1e1;
  background: #fbfbfb;
  border-radius: 5px;
  padding: 15px 10px;
  .btn--red {
    border-radius: 5px;
    background-image: linear-gradient(-5deg, #003c31, #62f9de);
    border: none;
    outline: none;
  }
  .input-group {
    text-align: right;
    margin-bottom: 0;
  }
  #request-description {
    line-height: 1.4;
    #head {
      margin-bottom: 20px;
    }
    .fa-lightbulb-o {
      font-size: 50px;
      color: #29c7ab;
    }
    #lightbulb, #des {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 20px;
    }
    #lightbulb {
      margin-right: 10px;
    }
  }
}

form {
  .form {
    margin-bottom: 20px;
    textarea {
      width: 100%;
      border: 3px solid #dcdbdb;
      border-radius: 5px;
      resize: none;
      outline: none;
      padding: 10px;
      margin: 10px 0;
    }
  }
  .form.hide {
    display: none;
  }
}
.reviews-form {
  margin-top: 20px;
  .button-show-form {
    border-radius: 5px;
    padding: 6px 50px;
    border: none;
    background-image: linear-gradient(-5deg, #003c31, #62f9de);
    outline: none;
    color: #fff;
  }
  #button-show-form.hide {
    display: none;
  }
  #button-show-form[disable] {
    pointer-events: none;
    background-image: linear-gradient(-5deg, #484848, white);
  }
  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
  }
  .rate:not(:checked) > input {
    display: none;
  }
  .rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:40px;
    color: rgba(0, 0, 0, 0.4);
  }
  .rate:not(:checked) > label:before {
    content: '★ ';
  }
  .rate > input:checked ~ label {
    color: #eae234;
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
    color: #eae234;
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    color: #eae234;
  }
}

.short-comment {
  text-align: left;
  max-width: 130px;
  width: 25%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.short-comment.active-comment {
  overflow: auto;
  white-space: initial;
  text-overflow: inherit;
}
.sort-by {
  margin-bottom: 50px;
  a {
    color: #fff;
    padding: 15px;
    background-color: #00323c;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 10px;
    text-decoration: none;
    &:hover {
      opacity: 0.8;
      color: white;
    }
  }
  a.activeSortBy {
    opacity: 0.8;
    color: white;
  }
}
.btn-del {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #00323c;
  outline: none;
  .fa {
    font-size: 16px;
  }
}

.admin__table-option > form {
  display: inline-block;
}

// header vote
.vote-header.vote-header-new {
  background-image: url(/default_images/vote/header/vdm-2019-header-519.jpg);
}

@media (min-width: 520px) {
  .vote-header.vote-header-new {
    background-image: url(/default_images/vote/header/vdm-2019-header-749.jpg);
  }
}

@media (min-width: 768px) {
  .vote-header.vote-header-new {
    margin-bottom: 50px;
    background-image: url(/default_images/vote/header/vdm-2019-header-969.jpg);
  }
}

@media (min-width: 992px) {
  .vote-header.vote-header-new {
    margin-bottom: 50px;
    background-image: url(/default_images/vote/header/vdm-2019-header-1169.jpg);
  }
}

@media (min-width: 1200px) {
  .vote-header.vote-header-new {
    margin-bottom: 50px;
    background-image: url(/default_images/vote/header/vdm_2019_header.jpg);
  }
}

.header-blank {
  background-image: url(/default_images/vote/header/vdm_2019_header_blank.png);
}

.no-before:before {
  display: none;
}
.no-after:after {
  display: none;
}

.section--vote-bg-new {
  background-image: url(/default_images/vote/vdm_2019_footer.png);
  padding-top: calc(10% + 280px);
}

.vote-header {
  background-color: white;
}
.vote-header__headline, .vote-header__subline {
  color: inherit;
}

li#website {
  display: block;
}

.profile-cnt-details li span {
  vertical-align: middle;
}

// Total slider image > 2
@media (max-width: 768px) and (min-width: 590px) {
  .slide2 {
    width: 100%;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .carousel-caption .slide2 {
    width: 100%;
  }

}

@media (max-width: 380px) {
  .small3 .slider2-logos img {
    width: 80px;
  }
}
@media (max-width: 545px) {
  .small4 .slider2-logos img {
    width: 80px;
  }
}
@media (max-width: 410px) {
  .small4 .slider2-logos img {
    width: 65px;
    margin-right: 4px!important;
  }
}
@media (max-width: 650px) {
  .small5 .slider2-logos img {
    width: 65px;
    margin-right: 4px!important;
  }
}
@media (max-width: 760px) {
  .small6 .slider2-logos img {
    width: 80px;
    margin-right: 4px!important;
  }
}
@media (max-width: 620px) {
  .small6 .slider2-logos img {
    width: 65px;
  }
}

.owl-carousel {
  .info {
    margin-bottom: 30px;
  }
  .owl-stage-outer {
    max-width: 900px;
    margin: 0 auto;
  }
}
.owl-dots {
  display: none;
}

.owl-theme {
  .owl-nav [class*=owl-]:hover {
    background: transparent;
    outline: none;
  }
  .owl-nav [class*=owl-] img {
    outline: none;
  }
  .owl-nav {
    margin: 0;
    display: inline-block;
    position: absolute;
    top: 15%;
    transform: translate(0, -15%);
    width: 100%;
  }
}

.owl-carousel {
  .owl-nav button {
    position: absolute;
    top: 50%;
  }
  .owl-nav button {
    transform: translate(0, -50%);
    top: 50%;
    outline: none;
  }
  .owl-nav button.owl-prev {
    left: 0;
  }
  .owl-nav button.owl-next {
    right: 0;
  }
  .avatar {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
  }
}


.vote-winner__content {
  p.clearfix {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 20em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    &:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: white;
    }
  }
}

.owl-theme .owl-nav .disabled {
  opacity: .3;
}

#vote-ranking {
  margin-bottom: -75px;
  background: #4E80A7;
  padding-bottom: 180px;
  position: relative;
}

// image header detail club / user
.club-detail__main-image-wrapper {
  max-width: 100%;
  max-height: 492px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  > img {
    visibility: hidden
  }
}

.profilseite-slide img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.profile-header__image-container {
  max-width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin: 0;
  > img {
    visibility: hidden;
  }
}

.no-padding {
  padding: 0!important;
}

.pd-0-mg-200 {
  padding: 0;
  margin: 200px 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.first-space {
  margin-top: 160px;
  margin-bottom: 190px;
}
#dropwdown-cotent-manager {
  margin-top: 12px;
}

.number-of-week {
  .deine-section {
    position: relative;
    margin-top: 0;
    height: 725px;
    p {
      background: #ffffff33;
      padding: 50px;
      line-height: 45px;
      font-size: 24px;
      max-width: 80%;
      margin: 0 auto;
    }
    @media (max-width: 900px) {
      p {
        font-size: 20px;
      }
    }
    .headline {
      background: url(/static_images/border1.png) bottom center no-repeat;
      padding-bottom: 40px;
      text-align: center;
      h2 {
        font-size: 40px;
        padding-bottom: 20px;
      }
      span {
        line-height: 45px;
        font-size: 24px;
        color: white;
        text-transform: uppercase;
      }
      @media (max-width: 900px) {
        span {
          font-size: 20px;
        }
      }
    }
    .deine-boxes {
      padding: 0; // it was 20px 0
      text-align: center;
      h1 {
        font-size: 150px;
        font-weight: bold;
        color: white;
        padding: 10px 0 30px 0;
      }
    }
    .subline {
      position: absolute;
      bottom: 60px; // it was 20px
      text-align: center;
      width: 100%;
      color: white;
      left: 0;
      a {
        color: white;
      }
    }
    .number-opacity {
      background: #0d0d0d;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .deine-section-inner {
      position: relative;
      padding: 40px 0 70px 0; // it was 50px top
    }
  }

  .owl-carousel .owl-stage-outer {
    max-width: inherit;
  }
  .owl-nav {
    top: 50%;
    max-width: 1170px;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, -15%);
    button {
    }
  }
  @media (min-width: 768px) {
    owl-nav {
      width: 750px;
    }
  }
  @media (max-width: 992px) and (min-width: 830px) {
    owl-nav {
      width: 97%;
    }
  }
  @media (min-width: 992px) {
    .owl-nav {
      width: 970px;
    }
  }

  @media (min-width: 1200px) {
    .owl-nav {
      width: 1170px;
    }
  }
}

.eure-section h2 {
  font-size: 40px;
}

@media (max-width: 768px) {
  .number-of-week {
    .deine-section {
      padding: 0 0 30px 0;
      p {
        padding: 20px;
        line-height: 30px;
        font-size: 20px;
      }
      .deine-boxes {
        h1 {
          font-size: 100px;
        }
      }
      .deine-section-inner {
        padding: 40px 0 0 0;
      }
    }
  }
}
@media (max-width: 992px) and (min-width: 320px) {
  .number-of-week {
    .deine-section {
      h2 {
        line-height: inherit;
      }
    }
  }
}

/*changes for new slider*/ 

.spitzensport-slider {
  background: #1a9f86;
  margin-top: -25px;
  .deine-section {
    background: transparent;
    position: relative;
    margin-top: 0;
    height: 500px;
    border-radius: 50px 0 50px 0;
    p {
      background: #ffffff33;
      padding: 50px;
      line-height: 45px;
      font-size: 24px;
      max-width: 80%;
      margin: 0 auto;
    }
    @media (max-width: 900px) {
      p {
        font-size: 20px;
      }
    }
    .headline {
      margin-top: 170px;
      padding-bottom: 40px;
      text-align: center;
      h2 {
        font-size: 40px;
        padding-bottom: 0;
        letter-spacing: 4px;
      }
      span {
        line-height: 45px;
        font-size: 24px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 4px;
        letter-spacing: 4px;
      }
      @media (max-width: 900px) {
        span {
          font-size: 20px;
        }
      }
    }
    // .deine-boxes {
    //   padding: 20px 0;
    //   text-align: center;
    //   h1 {
    //     font-size: 150px;
    //     font-weight: bold;
    //     color: white;
    //     padding: 10px 0 30px 0;
    //   }
    // }
    .subline {
      position: absolute;
      bottom: 50px;
      text-align: center;
      width: 100%;
      color: white;
      left: 0;
      a {
        color: white;
      }
    }
    .number-opacity {
      background: #0d0d0d;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .deine-section-inner {
      position: relative;
      padding: 50px 0 70px 0;
    }
  }

  .owl-carousel .owl-stage-outer {
    max-width: inherit;
  }
  .owl-nav {
    top: 50%;
    max-width: 94%;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, -15%);
    button {
    }
  }
//   @media (min-width: 768px) {
//     owl-nav {
//       width: 750px;
//     }
//   }
//   @media (max-width: 992px) and (min-width: 830px) {
//     owl-nav {
//       width: 97%;
//     }
//   }
//   @media (min-width: 992px) {
//     .owl-nav {
//       width: 970px;
//     }
//   }

//   @media (min-width: 1200px) {
//     .owl-nav {
//       width: 1170px;
//     }
//   }
} 
@media (max-width: 768px) {
  .spitzensport-slider {
    .deine-section {
      padding: 0 0 30px 0;
      p {
        padding: 20px;
        line-height: 30px;
        font-size: 20px;
      }
      // .deine-boxes {
      //   h1 {
      //     font-size: 100px;
      //   }
      // }
      .deine-section-inner {
        padding: 40px 0 0 0;
      }
    }
  }
}
@media (max-width: 992px) and (min-width: 320px) {
  .spitzensport-slider {
    .deine-section {
      h2 {
        line-height: inherit;
      }
    }
  }
}
.spitzensport-slider .spitzensport {
  position: relative;
}
.spitzensport-slider .small-tag {
  position: absolute;
  left: 11%;
  top: -13px;
  z-index: 5;
  text-transform: uppercase;
  background-color: #f3f1e8;
  box-shadow: -1px 5px 3px 0px #c1c1b9;
  display: block;
  padding: 20px 18px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  color: #bdb617;
}
.spitzensport-slider .small-tag .curve {
  float: left;
  position: relative;
}
.spitzensport-slider .small-tag .curve:after {
	content: '';
  width: 0;
  height: 0;
  border-right: 20px solid #bbb;
  border-top: 13px solid transparent;
  border-bottom: 0px solid transparent;
  position: absolute;
  top: -20px;
  left: -38px;
}
@media (max-width: 700px) {
  .spitzensport-slider .small-tag {
    left: 25%;
    font-size: 3vw;
  }
}
/*changes for new slider ends*/

.row.partner-inner {
  .partner-row {
    .sport-logo {
      width: 25%;
    }
    @media (max-width: 768px) {
      .sport-logo {
        width: 30%;
      }
    }
  }
}

.abc-logo img {
  padding: 30px 50px;
}

.parner-logo-cat.dark {
  color: #cccccc;
}

@media (min-width: 992px) {
  .partner-inner {
    margin: -20px -15px;
    height: 740px;
  }

  .partner-section {
    height: 720px;
  }

  .partner-logo-in ul li {
    padding: 0 15px;
  }

  .sport {
    height: 270px;
  }
}

@media (max-width: 992px) and (min-width: 320px) {
  .sport-logo {
    height: 75px;
  }
  .sport-logo.swfv img {
    max-width: 40px!important;
  }
}

@media (max-width: 580px) and (min-width: 320px) {
  .partner-row .sport-logo img {
    max-width: 60px;
  }
}

@media (max-width: 992px) and (min-width: 900px) {
  .col-sm-6.premuium {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .col-sm-6.premuium {
    width: 100%;
  }
}

.partner-logo-in ul li.sw {
  height: auto;
}

.partner-logo-in ul {
  padding: 20px 0 10px 0;
}

.partner-logo-in ul li {
  margin-top: 10px;
}

.wirleben-section  {
  h2 {
    font-size: 40px;
  }
  h5 {
    text-align: center;
  }
  @media (min-width: 768px) {
    .col-centered {
      padding: 0 25px;
    }
  }
}

.state-right-search {
  text-align: center;
}

.search-result-list {
  .fan-box {
    .fan-lctn {
      float: left;
    }
    .fan-likes {
      float: right;
      padding: 0;
    }
    .review-average {
      padding-top: 0;
    }
  }
}

.pagination.search-result {
  color: white;
  li.disabled {
    span {
      background-color: #00323c;
      color: white;
    }
  }
  li.active {
    span {
      background-color: #00323c;
    }
  }
  li {
    span, a {
      background-color: #29c7ab;
      color: white;
      padding: 15px;
      margin-right: 5px;
    }
  }
}

.club-search__results-headline {
  strong.keyword {
    text-transform: initial;
  }
}

// fix input break on safari - macOS
.wirleben-section-search-area .form-control {
  width: 92%;
}

.startpage-slider .slick-list {
  border-bottom: 1px solid #c2bb2a;
}

.sponsor-ribbon__powered-label, .smaller .sponsor-ribbon__powered-label {
  width: auto;
}

.sponsor-ribbon__powered-wrapper {
  width: 430px;
  float: right;
}

.smaller .sponsor-ribbon__powered-wrapper {
  width: 340px;
}

@media (max-width: 1199px) and (min-width: 992px) {
  .sponsor-ribbon__powered-wrapper {
    width: 430px;
  }
  smaller .sponsor-ribbon__powered-wrapper {
    width: 340px;
  }
}

@media (max-width: 992px) and (min-width: 320px) {
  .sparda-bank, .abc-logo {
    height: 240px;
    line-height: 352px;
    img {
      padding: 50px 10px;
    }
  }
  .sparda-bank {
    img {
      padding: 30px 10px;
    }
  }
}

// western-reward
#western-reward {
  .western-reward-header {
    background-image: url(/default_images/western-reward/header-image-western-reward.jpg);
    height: 550px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    .hero-slider__content--centered {
      top: 35%;
    }
    @media (min-width: 768px) {
      .hero-slider__content--centered {
        width: 680px;
      }
    }
  }
  @media (max-width: 768px) {
    .western-reward-header {
      height: auto;
      padding-top: 50%;
      padding-bottom: 10%;
      background-size: cover;
      background-position: center;
      background-attachment: inherit;
    }
  }
  .section1 {
    margin-top: 70px;
    .text-block {
      margin-bottom: 0;
    }
    .hl--underlined:after {
      margin-bottom: 0;
    }
    ul.text-block {
      margin-top: 20px;
      li {
        position: relative;
        left: 12px;
      }
      li:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: #00323c;
        border-radius: 10px;
        top: 8px;
        left: -12px;
      }
    }
  }
  .section3 {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    .hl--underlined:after {
      margin-bottom: 0;
    }
  }
  .section4 {
    max-width: 800px;
    margin: 0 auto;
    .hl--underlined:after {
      margin-bottom: 0;
    }
  }
  .no-login {
    .hl--underlined:after {
      margin-bottom: 0;
    }
  }
  .logos {
    max-width: 680px;
    margin: 0 auto;
    padding-top: 80px;
    .wrap {
      align-items: center;
      display: flex;
      .logo:first-child {
        width: 240px;
      }
      .logo:last-child {
        width: 340px;
      }
      .logo {
        margin: 0 25px;
        img {
          width: 100%;
        }
      }
      @media (max-width: 648px) {
        .logo {
          margin: 0 15px;
        }
      }
    }
  }
  .section5 {
    margin-top: 100px;
    .image {
      img {
        width: 100%;
      }
    }
    .content {
      padding: 0 15px;
      margin-top: 30px;
      p {
        font-size: 16px;
      }
    }
    @media (max-width: 648px) {
      .col-md-4 {
        .image {
          margin-top: 70px;
        }
      }

      .col-md-4:first-child {
        .image {
          margin-top: 0;
        }
      }
    }
  }
  .section6 {
    max-width: 800px;
    margin: 100px auto;
    .hl--underlined:after {
      margin-bottom: 0;
    }
  }
  form {
    button {
      width: 420px;
      margin: 0 auto;
      margin-top: 50px;
      text-transform: initial;
    }
  }
}
.button.border {
  border-radius: 5px;
}