/**
* Roboto (https://fonts.google.com/specimen/Roboto)
*/
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), url("/fonts/Roboto-Light.ttf");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), url("/fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), url("/fonts/Roboto-Italic.ttf");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), url("/fonts/Roboto-Medium.ttf");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"), url("/fonts/Roboto-MediumItalic.ttf");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), url("/fonts/Roboto-Bold.ttf");
}

/**
* Arvo (https://fonts.google.com/specimen/Arvo)
*/
@font-face {
	font-family: "Arvo";
	font-style: normal;
	font-weight: 400;
	src: local("Arvo"), url("/fonts/Arvo-Regular.ttf");
}

@font-face {
	font-family: "Arvo";
	font-style: normal;
	font-weight: 700;
	src: local("Arvo Bold"), url("/fonts/Arvo-Bold.ttf");
}

@font-face {
	font-family: "Arvo";
	font-style: italic;
	font-weight: 400;
	src: local("Arvo Italic"), url("/fonts/Arvo-Italic.ttf");
}
