.form-link {
	@include font($octonary-font-size);
	display: block;
	color: $medium-blue;
	text-decoration: none;
	margin-bottom: $senary-spacer;

	&:hover {
		text-decoration: underline;
	}
}

.input {
	@include font();
	display: flex;
	background: $white;
	border-radius: 0;
	padding: $octonary-spacer;
	border: 2px solid $light-gray;
	width: 100%;
}

.input-hint {
	display: block;
	@include font($octonary-font-size);
	color: $tertiary-color;
	width: 100%;
	flex-basis: 100%;
	margin-top: $spacer-sm-half;
	margin-bottom: $spacer-sm;

	@include small {
		text-align: right;
		margin-top: $spacer-sm-half;
		margin-bottom: 0;
	}
}

.input-group {
	position: relative;
	display: flex;
	margin-bottom: $senary-spacer;
}

.input-group--no-bottom-spacing {
	margin-bottom: 0;
}

.input-group--no-spacing {
	margin-bottom: 0;
}

.input-group--different-spacing {
	margin-top: $spacer-sm;
}

.input-group--grown {
	flex-grow: 1;
}

.input-group--error {
	margin-bottom: $spacer-lg;
}

.input-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: $quaternary-spacer;
	background: $light-gray;
	color: $medium-gray;
}

.input-label {
	@include font($octonary-font-size);
	display: flex;
	margin-bottom: $tertiary-spacer / 2;
}

.input-checkbox {
	display: none;

	&:checked + .input-checkbox__label {
		&:before {
			font-family: $primary-icon-family;
			content: "\f058";
		}
	}
}

.input-checkbox__label {
	position: relative;
	padding-left: 40px;
	padding-top: 10px;
	&:before {
		font-family: $primary-icon-family;
		content: "\f1db";
		margin-right: $tertiary-spacer;
		color: $primary-color;
		font-size: $tertiary-font-size;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.input-checkbox__label--club {
	margin-top: $spacer;
	display: block;
}

.input-checkbox__label-link {
	@include font();
	color: $medium-blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.select {
	@include font();
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	display: flex;
	background: $white right 50% url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAAMElEQVQIW2OUkZH5/+TJE0YGNIAuDlaALohNM9wkmCQuG1CsxKUIZCuG29DdCuMDAMsaHAYz32VxAAAAAElFTkSuQmCC) no-repeat;
	border-radius: 0;
	padding: $octonary-spacer;
	border: 2px solid $light-gray;
	width: 100%;
}

.input-file {
	display: none;
}

.input-file__label {
}

// c&p for now...
.onoffswitch {
	position: relative;
	width: 60px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	height: 18px;
	padding: 0;
	line-height: 18px;
	border: 1px solid #CCCCCC;
	border-radius: 18px;
	background-color: $white;
	transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
	content: "";
	display: block;
	width: 18px;
	margin: 0;
	background: $white;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 42px;
	border: 1px solid #CCCCCC;
	border-radius: 18px;
	transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
	background-color: $secondary-color;
}

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
	border-color: $secondary-color;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
	right: 0;
}