.grid {
}

.grid__row {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: space-between;
	margin-bottom: $senary-spacer;
}

.grid__item--1of3 {
	@include grid-item();
}

.grid__item--2of3 {
	@include grid-item(66.6666%);
}

.grid__item--1of4 {
	@include grid-item(25%);
}