#footer-list-result {
  text-align: center;
}
#filter {
  margin-bottom: 20px;
}
#doprdown-per-page {
  display: inline-block;
  float: right;
  padding: 22px 0;
}
#club_result {
  margin: 20px 0;
}

.content-detail {
  padding: 50px 0;
}

.search-list {
  padding-bottom: 70px;
}

.pagination {
  display: inline-block;
}

h2.headline-search {
  color: #00323c;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
  letter-spacing: .5px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  line-height: 22px;
  padding: 15px;
  border: none;
  font-style: normal;
}
.fan-box {
  width: 100%;
}