.profile-athletic-runway {
	background: $undecimal-color;
	display: flex;
	flex-flow: row wrap;
	position: relative;
	margin-bottom: $spacer-sm;


	@include small {
		margin-bottom: 3px;

		&:last-of-type {
			margin-bottom: $spacer;
		}
	}

}

.profile-athletic-runway--editable {
	.profile-athletic-runway__arrow-container {

		@include small {
			padding-top: $spacer;
		}
	}
}

.profile-athletic-runway__edit {
	padding: $spacer-sm-double;
}

.profile-athletic-runway__club-container {
	flex-grow: 1;
	flex-basis: calc(100% - 185px - 40px);
	margin-left: $spacer-sm;
}

.profile-athletic-runway__arrow-container {
	cursor: pointer;
	display: flex;
	flex-basis: 65px;
	justify-content: center;
	align-items: center;
	background: $undecimal-color;
	transition: $transition-short background;

	&:hover {
		background: darken($undecimal-color, 10);
	}
}

.profile-athletic-runway__arrow {
	padding-bottom: 2px;
	transform: rotateX(0deg);
	transition: $transition transform;
}

.profile-athletic-runway__arrow--reverse {
	transform: rotateX(180deg);
}

.profile-athletic-runway__content-container {
	flex-basis: 100%;
	background: $undecimal-color;
	padding: $spacer-sm-double;
	overflow: hidden;
	display: none;
}
.profile-athletic-runway__date {
	background: $secondary-color;
	display: flex;
	width: 100%;
	padding: $spacer-sm;
	flex-basis: 100%;

	@include small {
		flex-basis: 150px;
		max-width: 150px;
		min-width: 150px;
		padding: 0;
	}
}

.profile-athletic-runway__date-inner {
	display: flex;
	flex-flow: column wrap;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	font-family: $secondary-font-family;
	color: $white;
}

.profile-athletic-runway__granular-date {
	text-transform: uppercase;
}

.profile-athletic-runway__duration {
	font-size: $fs-headline;
	text-transform: uppercase;
}

.profile-athletic-runway__text {
	font-size: $fs-basic;
	line-height: 1.5;
	color: $secondary-color;
}

.profile-athletic-runway__club-name {
	display: block;
	margin-bottom: $spacer-sm-half;
}

.profile-athletic-runway__club {
	display: flex;
	margin: $spacer-sm 0;
}

.profile-athletic-runway__link {
	text-decoration: none;
	color: inherit;
}

.profile-athletic-runway__club--edit {
	margin: -$spacer-sm-double 0 $spacer 0;
}

.profile-athletic-runway__club-image-wrapper {
	flex-basis: 70px;
	min-width: 70px;
}

.profile-athletic-runway__club-image {
	width: 100%;
	min-width: 70px;
	padding-right: $spacer-sm;
}

.profile-athletic-runway__image {
	width: 100%;
	height: auto;
}

.profile-athletic-runway__button-group {
	position: absolute;
	right: 0;
	top: 0;
}