.profile-avatar {
	position: relative;





}

.profile-avatar__image-container {
	max-width: 130px;
	max-height: 130px;
	margin: 0 auto;
	overflow: hidden;

	@include medium {
		max-width: 260px;
		max-height: 260px;
	}
}

.profile-avatar__image {
	position: relative;
	display: block;
	width: 100%;
}

// Edit mode

.profile-avatar-edit__form {
    max-width: 260px;
    max-height: 260px;
    margin: 0 auto;
}

.profile-avatar-edit__form-action-wrapper {
	display: flex;
}

.profile-avatar__image-wrapper {
	width: 100%;
}