.profile-header {
    position: relative;
    margin-bottom: $primary-spacer;

    @include medium {
    	margin-bottom: 0;
    }
}

.profile-header__image-container {
	max-width: 1920px;
	max-height: 420px;
	margin: 0 auto;
}

.profile-header__image {
	position: relative;
	display: block;
    width: 100%;
    height: auto;
}

.profile-header__top-over {
	margin-top: -50px;

	@include medium {
		margin-top: -130px;
	}
}

.profile-header-edit__form-action-wrapper {
	display: flex;
}