.profile-informations {
	display: block;
	padding-top: $spacer;
	text-align: center;
}

.profile-informations__club {
	margin-bottom: $spacer-sm-double;
}

.profile-information__club-link {
	color: $secondary-color;
	text-decoration: none;
	font-size: $fs-basic;
}