.profile__edit-button {
	position: absolute;
	left: 50%;
	bottom: $spacer-sm-double;
	margin-left: -$spacer-half;
	z-index: 19;
}

.profile__edit-button--header {
	left: auto;
	right: $spacer-sm-double;
}

.profile__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(rgba($senary-color, 0) 30%, rgba($senary-color, 1) 100%);
	z-index: 90;
	cursor: pointer;
	display: none;
}

.profile__overlay--shown {
	@include medium {
		display: block;
	}
}

.profile__overlay-content {
	position: relative;
}

.profile__overlay-content--overflow-hidden {
	@include medium {
		max-height: 500px;
		overflow: hidden;
	}
}

.profile__container {
	margin-bottom: $spacer;

	@include medium {
		margin-bottom: $spacer-double;
	}
}

.profile__overlay-btn {
	display: none;
	@include medium {
		display: block;
	}
}