.rangeslider,
.rangeslider__fill {
	display: block;
	border-radius: 0;
}

.rangeslider {
	background: $undecimal-color;
	position: relative;
	margin-top: $spacer;
}

.rangeslider--horizontal {
	height: 20px;
	width: 100%;
}

.rangeslider--vertical {
	width: 20px;
	min-height: 150px;
	max-height: 100%;
}

.rangeslider--disabled {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	opacity: 0.4;
}

.rangeslider__fill {
	background: $primary-color;
	position: absolute;
}

.rangeslider--horizontal .rangeslider__fill {
	top: 0;
	height: 100%;
}

.rangeslider--vertical .rangeslider__fill {
	bottom: 0;
	width: 100%;
}

.rangeslider__handle {
	cursor: pointer;
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	background: $secondary-color;
}

.rangeslider--horizontal .rangeslider__handle {
	top: -10px;
	touch-action: pan-y;
	-ms-touch-action: pan-y;
}

.rangeslider--vertical .rangeslider__handle {
	left: -10px;
	touch-action: pan-x;
	-ms-touch-action: pan-x;
}

.profile-rangeslider__container {
}

.profile-rangeslider__inner {
	position: relative;
	padding: $spacer-sm-double;
	background: $white;
}

.profile-rangeslider {
	background: $undecimal-color;
	width: 100%;
	height: 20px;
	margin-bottom: $spacer;
}

.profile-rangeslider__fill {
	background: $primary-color;
	height: 20px;
	width: 0;
	animation: profile-rangeslider__fill-up 2s;
}

.profile-rangeslider__scala {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-top: -$spacer;
	margin-bottom: $spacer-sm-double;
	padding: $spacer-sm-half;

	&:before {
		content: '';
		width: 1px;
		height: 100%;
		background: $undecimal-color;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&:after {
		content: '';
		width: 1px;
		height: 100%;
		background: $undecimal-color;
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.profile-interests__edit {
	.profile-rangeslider__scala {
		margin-top: 10px;
	}
}

.profile-rangeslider__scala-middle {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) translateY(0);
	width: 1px;
	height: 100%;
	background: $undecimal-color;
}

.profile-rangeslider__scala-desc {
	color: $mediumlight-gray;
	font-size: $septenary-font-size;
}

@keyframes profile-rangeslider__fill-up {
	0% { width: 0; }
}
