.profile-section {
	margin-bottom: $spacer;
}

.profile-section--avatar {
	margin-top: -$spacer-lg;

	@include medium {
		margin-top: -130px;
	}
}

.profile-section--interests {
}

.profile-section--statusposts {
}

.profile-section--athletic-runway {
}