.profile-statusposts {
	position: relative;
	&:before {
		display: none;
		content: '';
		position: absolute;
		top: 0;
		left: 25px;
		transform: translateX(-50%);
		background: $undecimal-color;
		height: 100%;
		width: 2px;
		z-index: 1;

		@include small {
			display: block;
		}

		@include medium {
			left: 50%;
		}
	}
}

.profile-statusposts__content {
	line-height: 1.5;
	color: $mediumlight-gray;
}

.profile-statusposts__item {
	background: $white;
	padding: $spacer;
	margin-right: auto;
	margin-bottom: $spacer;
	width: 100%;

	&:after {
		display: none;
	}

	@include small {
		@include arrow('left', $spacer-sm);
		width: 85%;
		margin-left: 15%;

		&:before {
			display: block;
		}

		&:after {
			overflow: hidden;
			display: block;
			font-family: FontAwesome;
			content: '\f039';
			font-size: 20px;
			text-align: center;
			color: $senary-color;
			background: $primary-color;
			position: absolute;
			top: $spacer-sm;
			left: -108px;
			padding: $spacer-half;
			max-width: 20px;
			max-height: 20px;
			z-index: 2;
		}
	}

	@include medium {
		@include arrow('right', $spacer-sm);
		width: 40%;
		margin-left: 0;

		&:after {
			left: auto;
			right: -25%;
			transform: translateX(50%);
		}

		&:nth-child(2n) {
			@include arrow('left', $spacer-sm);
			margin-left: auto;
			margin-right: 0;

			&:after {
				right: auto;
				left: -25%;
				transform: translateX(-50%);
			}
		}
	}
}

.profile-statusposts__item--video {
	&:after {
		content: '\f16a';
	}
}
.profile-statusposts__item--photo {
	&:after {
		content: '\f030';
	}
}


.profile-statusposts__date {
	font-family: 'Arvo';
	display: flex;
	margin-bottom: $spacer-sm;
}

.profile-statusposts__day {
	font-size: $decimal-font-size;
	color: $primary-color;
}

.profile-statusposts__month-and-year {
	margin-left: $spacer-sm-half;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	color: $secondary-color;
}

.profile-statusposts__month {
	text-transform: uppercase;
}

.profile-statusposts__title {
	margin-bottom: $spacer-sm;
}

.profile-statusposts__image {
	background-size: cover;
	background-position: center center;
	min-height: 220px;
	margin-top: $spacer-sm-double;

	@include medium {
		min-height: 400px;
	}
}

.profile-statusposts__video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	margin-top: $spacer-sm-double;

	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.profile-statusposts__videothumb {
	width: 100%;
	height: auto;

	margin-top: $spacer-sm-double;
}

.profile-statusposts__form {
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: $spacer-half;
}

.profile-statusposts__form-input {
}

.profile-statusposts__advanced-options {
	display: flex;
	flex-flow: column wrap;
}

.profile-statusposts__advanced-options-button {
	display: block;
	margin-left: $spacer-sm-half;
	margin-bottom: $spacer-sm-half;
}

.profile-statusposts__form-btn,
.profile-statusposts__form-btn--reset {
	margin-top: $spacer-half;
}

.profile-statusposts__edit-photo,
.profile-statusposts__edit-video {
	display: none;
}

.profile-statusposts__actions {
	float: right;
}