.user-stream {
	position: relative;
}

.user-stream--shifted {
	margin-top: $spacer-section * (-1);
}

.user-stream__container {
	position: relative;
}

.user-stream__header {
	position: relative;
	margin-bottom: $primary-spacer;

	@include medium {
		margin-bottom: 0;
	}
}

.user-stream__header-image {
	width: 100%;
	min-height: 210px;
	background: url('/default_images/user/default-headers.jpg') no-repeat center center;
}

.user-stream__link {
	&:link,
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

.user-stream__item {
	position: relative;
	background: $white;
	padding: $spacer;
	margin-right: auto;
	margin-bottom: $spacer;
	width: 100%;
	z-index: 2;

	&:after,
	&:before {
		display: none;
	}

	@include medium {
		margin-left: 0;
		width: 85%;

		&:after {
			overflow: hidden;
			display: block;
			font-family: FontAwesome;
			content: '\f039';
			font-size: 20px;
			text-align: center;
			color: $senary-color;
			background: $primary-color;
			position: absolute;
			top: 0;
			padding: $spacer-half;
			max-width: 20px;
			max-height: 20px;
			z-index: 2;
			left: auto;
			right: -8.5%;
			transform: translateX(50%);
		}

		&:before {
			display: block;
			content: " ";
			left: auto;
			position: absolute;
			right: -3%;
			top: 12px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 12px 12px 12px 0;
			border-color: transparent;
			border-right-color: $primary-color;
			transform: translateX(50%);
		}
	}

	@include large {
		&:before {
			right: -4%;
		}
	}
}

.user-stream__item--photo {
	&:after {
		content: '\f030';
	}
}

.user-stream__item--video {
	&:after {
		content: '\f16a';
	}
}

.user-stream__item--news {
	&:after {
		content: '\f1d8';
		transform: scale(-1, 1);
		right: -12%;
	}
}

.user-stream__item--post {
	&:after {
		content: '\f039';
	}
}

.user-stream__item--club {
	&:after {
		content: "";
		height: 50px;
		width: 50px;
		background-color: $white;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
	}
}

.user-stream__item--hollowed {
	background: transparent;
	padding: 0;
}

.user-stream__item--preceding {
	z-index: 3;
}

.user-stream__item--animation-enter-active {
	animation: scaleIn .75s;
}

@keyframes scaleIn {
	0% {
		opacity: 0;
		transform: translateY(-150%);

	}

	100% {
		transform: translateY(0);
	}
}

.user-stream__data {
	width: 100%;
	margin-left: 0;
	float: left;
	position: relative;

	@include medium {
		width: 70%;

		&:after {
			content: " ";
			display: block;
			height: 100%;
			width: 2px;
			z-index: 1;
			background-color: $undecimal-color;
			position: absolute;
			top: 0;
			right: 7.5%;
		}
	}

}

/** posts **/

.user-stream__post {

}

.user-stream__post-date {
	@include font($fs-basic, normal, none, $secondary-font-family);
	display: flex;
	margin-bottom: $spacer-sm;
}

.user-stream__post-day {
	font-size: $decimal-font-size;
	color: $primary-color;
}

.user-stream__post-month-and-year {
	margin-left: $spacer-sm-half;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	color: $secondary-color;
}

.user-stream__post-month {
	text-transform: uppercase;
}

.user-stream__post-content {
	line-height: 1.5;
	color: $mediumlight-gray;
}

.user-stream__post-image {
	background-size: cover;
	background-position: center center;
	min-height: 210px;
	margin-top: $spacer-sm-double;
	
	@include xsmall {
		min-height: 400px;
	}
}

/** news **/

.user-stream__news {
	margin: $spacer * (-1);
}

.user-stream__news-content {
	background: $white;
	padding: ($senary-spacer*2) $senary-spacer $septenary-spacer;
	height: auto;
}

.user-stream__news-image-wrapper {
	position: relative;
	width: 100%;
	display: flex;
}

.user-stream__news-image {
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	
	@include xsmall {
		height: 450px;
	}
}

.user-stream__news-category-wrapper {
	@include font($fs-text-sm, 400, uppercase);
	background: $secondary-color;
	color: $white;
	padding: $spacer-sm $spacer;
	width: 100%;
	position: absolute;
	left: 0;
	// @todo fix me
	bottom: -27px;
	
	@include small {
		width: 50%;
	}
}

.user-stream__news-category {
	@include font($fs-text-sm, 700, uppercase);
	display: block;
}

.user-stream__news-headline {
	@include font($fs-headline, 700, uppercase);
	margin-bottom: $tertiary-spacer;
	line-height: 1.3;
}

.user-stream__news-text {
	@include font($fs-basic);
}

.user-stream__news-link {
	display: flex;
	width: 100%;
}

/* club event */

.user-stream__event {
	margin: $spacer * (-1);
}

.user-stream__event-location {
	@include font($fs-text-sm, 400);
	background: $white;
	padding: $spacer-sm;
	color: $medium-gray;
	flex-basis: 100%;
	margin-top: 5px;

	@include medium {
		flex-basis: calc(50% - (#{$spacer-sm} / 2));
		margin-left: $spacer-sm / 2;
		margin-top: 0;
	}
	
	@include large {
		flex-basis: calc(65% - (#{$spacer-sm} / 2));
	}
}

.user-stream__event-location-label {
	@include font($octonary-font-size, 400, uppercase);
	color: $primary-color;
}

.user-stream__event-date-wrapper {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 100%;
	align-items: center;

	@include medium {
		flex-basis: 50%;
	}
	
	@include large {
		flex-basis: 35%;
	}
}

.user-stream__event-label {
	@include font($fs-text-sm, 400, uppercase);
	display: flex;
	background: $primary-color;
	padding: $spacer-sm;
	color: $white;
	flex-basis: 70px;

	&:last-of-type {
		margin-top: $spacer-sm-half;
	}
	
	@include medium {
		//flex-basis: 100px;
	}
}

.user-stream__event-label--event-list {
	&:last-of-type {
		margin-top: 3px;
	}
}

.user-stream__event-date {
	@include font($fs-text-sm, 400, uppercase);
	background: $white;
	padding: $spacer-sm;
	color: $medium-gray;
	margin-left: $spacer-sm-half;
	flex-grow: 1;
	flex-basis: calc(100% - 75px);
	
	&:last-of-type {
		margin-top: $spacer-sm-half;
	}
}

.user-stream__event-date--event-list {
	margin-left: 3px;
	&:last-of-type {
		margin-top: 3px;
	}

}

.user-stream__event-content {
	background: $white;
	padding: $spacer;
}

.user-stream__event-content-headline {
	@include font($fs-headline, 500, uppercase);
	margin-bottom: $spacer-sm-double;
	line-height: normal;
}

.user-stream__event-content-text {
	@include font();
	line-height: $senary-line-height;
}

.user-stream__event-data-wrapper {
	display: flex;
	flex-flow: row wrap;
	position: absolute;
	top: 50px;
	right: 20px;
	left: 20px;
}

.user-stream__event-image {
	background-size: cover;
	background-position: top center;
	min-height: 450px;

	@include medium {
		min-height: 400px;
	}
}

.user-stream__event-image--none {
	background: $light-gray;
	min-height: 250px;
	margin-bottom: 0;

	@include medium {
		min-height: 200px;
	}
}

.user-stream__event-caption {
	display: flex;
	flex-flow: row wrap;
	position: absolute;
	top: 10px;
	right: 0;
	left: 0;
}

.user-stream__event-caption-label,
.user-stream__event-caption-club {
	@include font($fs-text-sm, 400, uppercase);
	padding: $spacer-sm;
}

.user-stream__event-caption-label {
	flex-basis: 90px;
	margin-right: $spacer-sm-half;
	background: $secondary-color;
	color: $white;
}

.user-stream__event-caption-club {
	flex-grow: 1;
	background: $white;
	color: $secondary-color;
}

/* club-post */

.user-stream__club-post {
	margin: $spacer * (-1);
}

.user-stream__club-post-header {
	display: flex;
	flex-basis: 100%;
	background: $secondary-color;
	padding: $spacer-half;
	justify-content: space-between;
}

.user-stream__club-post-header--title,
.user-stream__club-post-header--date {
	@include font($fs-text-sm, 400, uppercase);
	color: $white;
}

.user-stream__club-post-image {
	background-size: cover;
	background-position: center center;
	min-height: 400px;
}

.user-stream__club-post-content {
	background: $white;
	padding: $spacer;
}

.user-stream__club-post-content-headline {
	@include font($fs-headline, 500, uppercase);
	margin-bottom: $spacer-sm-double;
	line-height: normal;
}

.user-stream__club-post-content-text {
	@include font();
	line-height: $senary-line-height;
}

/* post form */
.user-stream__post-edit-image,
.user-stream__post-edit-video {
}

.user-stream__post-edit-video {
	display: flex;
	flex-grow: 1;
	flex-flow: row wrap;
}

/* sidebar */
.user-stream__sidebar {
	display: none;
	background: $secondary-color;
	color: $quinary-color;
	float: left;
	width: 30%;
	margin-top: 44px;
	padding: $spacer-lg-half;

	@include medium {
		display: block;
	}
}

/* sidebar navigation */
.user-stream__sidebar-navigation {
	@include font($fs-text-lg, 500, uppercase);
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: $spacer-sm;
	color: $primary-color;
}

.user-stream__sidebar-navigation-control {
	cursor: pointer;
}

/* sidebar events */
.user-stream__event-list {
}

.user-stream__event-list--sidebar {
	margin-bottom: $spacer-double;
}

.user-stream__event-list-item {
	margin-bottom: $spacer-half;
}

.user-stream__event-list-item-header {
	display: flex;
	flex-flow: column wrap;
	min-height: 70px;
	background: $white;
	color: $secondary-color;
	padding: $spacer-sm-half;
	margin-top: $spacer-sm-half;
}

.user-stream__event-list-item-header-club {
	@include font($fs-basic);
	flex-basis: 100%;
}

.user-stream__event-list-item-header-title {
	@include font($fs-text-lg, 500, none, $secondary-font-family);
	margin-top: $spacer-sm-half;
	flex-basis: 100%;
}

/* sidebar clubs */
.user-stream__club-list {
}

.user-stream__club-list-item {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: $spacer-half;
}

.user-stream__club-list-item-image {
	height: 90px;
	width: 90px;
}

.user-stream__club-list-item-name {
	@include font($fs-text-lg, 500, none, $secondary-font-family);
	position: relative;
	height: 90px;
	padding: $spacer-half;
	margin-left: 3px;
	flex-grow: 1;
	background: $white;
}

.user-stream__club-list-title {
	display: block;
	position: absolute;
	color: $secondary-color;
	top: 50%;
	transform: translateY(-50%);
	text-transform: uppercase;
	word-break: break-word;
}

.user-stream__club-list--sidebar {
	margin-bottom: $spacer-double;
}

.user-stream__user-list {

}

.user-stream__user-list--sidebar {
	.member-card--user-stream {
		background: $white;
	}

	.member-card__name {
		color: $secondary-color;
	}

	.member-card__username {
		color: $primary-color;
	}

	.member-card__interests {
		color: $secondary-color;
	}

	.member-card__profile-information--user-stream {
		border-left: 3px solid $secondary-color;
	}
}